{% load qr_code%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
    <h3>welcome {{user.username}}</h3>
    <h2>PDF Upload/Dowload for QRcode</h2>
    <form action="{% url 'dashboard' pk=user.id %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Submit">
    </form>
    <h3>list</h3>
    <table border="1px">
        <thead>
            <tr>
                <th>File Name</th>
                <th>QRCode</th>
                {% comment %} <th>Raw</th> {% endcomment %}
            </tr>
        </thead>
        <tbody>
            {% for name, url in codes.items %}
            <tr>
                <td>{{ name }}</td>
                <td>{% qr_from_text url size="M" %}</td>
                {% comment %} <td>{{url}}</td> {% endcomment %}
            </tr>
            {%endfor %}

        </tbody>
    </table>
</body>
</html>