{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/about_us_style.css' %}" />
{% endblock css %}

{% block content %}
    <main class="main">
        <section class="section_1">
            <div class="section_1_wrapper">
                <div class="section_1_header">
                    <h1>How it all began.</h1>
                </div>
                <div class="section_1_div_1">
                    <div class="image_div">
                        <img src="{% static 'home/images/about/cuate 2.png' %}" alt="image">
                    </div>
                    <div class="des_div">
                        <p>What started as an idea has become a mandate for us at QrGen59;
                            we have been across the seven seas, far and wide in search of
                            the best possible solution to the ever-complex data storage
                            challenges that we face today.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section_1_wrapper">
                <div class="section_1_header">
                    <h1>How we did it.</h1>
                </div>
                <div class="section_1_div_2">
                    <div class="image_div">
                        <img src="{% static 'home/images/about/cuate.png' %}" alt="image">
                    </div>
                    <div class="des_div">
                        <p>You are probably wondering what we had to do to arrive at these solutions;
                            we'll let you in on it. Well, we just stepped on a few necks and here we are.
                            We bring to you the luxury of generating a QR code that stores data for your
                            unique portfolios and catalogs
                        </p>
                        <p>
                            P.S. Nobody broke their necks while we stepped on it.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="section_2">
            <div>
                <h1>Who we are</h1>
                <p>The people at QrGen team 59 are a team of skilled and devoted designers
                    and developers bent on seeing that our users achieve their needs with our products.
                </p>
            </div>
        </section>
        <section class="section_3">
            <div class="section_3_des">
                <h1>Created by real people</h1>
                <h3>This is what we look like</h3>
            </div>
            <div class="people">
                <img class="nextslide" src="{% static 'home/images/about/arrow-circle-right.png' %}" alt="image">
                <div class="profile">
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473.png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Akande Aminat.</h5>
                            <p>Gen. Team Lead.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (5).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Oluwaseyi Ajibade.</h5>
                            <p>Ass. Team Lead.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (10).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Mohammed Oladiran.</h5>
                            <p>Team Lead, Design.</br>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (14).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Opeoluwa Akinwande.</h5>
                            <p>Team Lead, Devs.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="profile">
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (1).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Oritoke Okusanya.</h5>
                            <p>Product Designer</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (6).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>AugustineTheCreator.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (11).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Okeke Priscaline</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (15).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Ameh Elijah.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="profile">
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (2).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Favour Paulson.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (7).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Akande James.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (12).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Popoola Oluwasegun.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (16).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Elizabeth Ojetunji.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="profile">
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (3).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Ene Agbo.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (8).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Babawale Ayodeji.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (13).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Idris Adeniyi.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (17).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Ekima Inetimini.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="profile">
                    <figure>
                        <img src="{% static 'home/images/about/Frame 474.png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Timilehin Fawibe.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 474 (1).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Olowosoyo Oluwasegun.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 474 (3).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Kareem Mustapha.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 474 (4).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Bonuch Clinton.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="profile">
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (4).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Peter Edoka Augustine.</h5>
                            <p>Developer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 (9).png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Salman Abdulgiyath.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                    <figure>
                        <img src="{% static 'home/images/about/Frame 473 2.png' %}" alt="frame 473">
                        <figcaption>
                            <h5>Oyakhire Bernard.</h5>
                            <p>Product Designer.</p>
                        </figcaption>
                    </figure>
                </div>

            </div>
        </section>
    </main>
    {% endblock content %}

    {% block scripts %}
    <script src="{% static 'home/js/about_us_script.js' %}"> </script>
    
    {% endblock scripts %}