{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'home/css/landing_style.css' %}" />
{% endblock css %}

{% block content %}

<div class="generate">
  <div class="hero-left">
    <h1>Learn about QR codes & generate in seconds;<span> hassle-free.</span>
      <p>Create, download, and share your QR Code for multi-purpose use all in one place</p>
      <div class="hero-buttons">
        {% if request.user.is_authenticated %}
          <a href="{% url 'qrgen:dashboard' %}" class="btn4 light">Go to Dashboard</a>
          {% else %}
        <a href="{% url 'accounts:register-page' %}" class="btn3 dark" style="margin-right: 12px;">Get Started</a>
        <a href="{% url 'accounts:login-page' %}" class="btn4 light">Sign in</a>
          {% endif %}
      </div>
  </div>
  <div class="hero-right">
    <img src="{% static 'home/images/landing/hero-image.png' %}" class="image" alt="image">
  </div>
</div>
{% comment %} </header> {% endcomment %}
<!-- Second-container Section -->
<div class="second-container">
  <div class="create">
    <h2>Create your QR code in 3 steps</h2>
    <p class="main">
      Simple and easy to use.
    </p>
  </div>
  <div class="image-container1">
    <div class="imageSection1">
      <img src="{% static 'home/images/landing/choose.png' %}" alt="choose" />
    </div>

    <div class="imageSection1">
      <img src="{% static 'home/images/landing/input.png' %}" alt="input" />
    </div>

    <div class="imageSection1">
      <img src="{% static 'home/images/landing/ready.png' %}" alt="ready" />
    </div>
  </div>
  {% if not request.user.is_authenticated %}
  <div class="cta">
    <p>Sign up to create your QR code now</p>
    <a href="{% url 'accounts:register-page' %}" class="btn4 dark">Get started</a>
  </div>
  {% endif %}
</div>
<!-- Third-container Section -->
<div class="third-container">
  <div class="get-more">
    <h2>Get more</h2>
    <p class="main">
      A Professional QR Code Generation platform to create, edit and customize
      all your QR codes in one place.
    </p>
  </div>
  <div class="image-container">
    <div class="imageSection dynamic">
      <img src="{% static 'home/images/landing/Dynamic.png' %}" alt="dynamic" class="dynamo" />
      <h3>Dynamic QR Codes</h3>
      <p>Generate QR codes for any content type.</p>
    </div>

    <div class="imageSection multiformat">
      <img src="{% static 'home/images/landing/Multiformat.png' %}" alt="multiformat" class="format" />
      <h3>Multi-format download</h3>
      <p>Download your QR code in different formats.</p>
    </div>

    <div class="imageSection history">
      <img src="{% static 'home/images/landing/history.png' %}" alt="history" class="story" />
      <h3>QR code History</h3>
      <p>Keep track of all QR codes generated.</p>
    </div>
  </div>
</div>
<!-- Fourth-container Section -->

<div class="data-types">
  <h2>Some of our Data Types</h2>
</div>
<div class="fourth-container">
  <div class="url">
    <div class="left url">
      <h2>Website URL
        <p>
          Showcase your portfolio all in one QR code. Have all your
          information saved in a QR code.
        </p>
      </h2>
      <div class="right website">
        <img src="{% static 'home/images/landing/website.png' %}" alt="website" />
      </div>
    </div>
  </div>

  <div class="email">
    <div class="left email">
      <h2>Email
        <p>
          Skip the traditional way of sharing
          mails and get quick emails just with
          a QR code scan.
        </p>
      </h2>
      <div class="right website email">
        <img src="{% static 'home/images/landing/email.png' %}" alt="email" />
      </div>
    </div>
  </div>

  <div class="event">
    <div class="left event">
      <h2>Event
        <p>
          Generate QR codes for your
          events; a quick scan adds it
          to your calendar.
        </p>
      </h2>
      <div class="right website event">
        <img src="{% static 'home/images/landing/event.png' %}" alt="event" />
      </div>
    </div>
    <div class="botton">
      <a href="{% url 'home:learn-page' %}" class="btn5 dark">See more</a>
    </div>

  </div>
</div>

<div class="fifth-container">
  <img src="{% static 'home/images/landing/try-qrgen59.png' %}" alt="try-qrgen59">
</div>
{% if not request.user.is_authenticated %}
  <div class="botton">
    <a href="{% url 'accounts:register-page' %}" class="btn4 dark">Get started</a>
  </div>
{% endif %}
</div>

<section>
  <h2 class="title">FAQ</h2>

  <div class="faq">
    <div class="question">
      <h3>Who Uses QR Code ?</h3>
      <div class="svg">
        <img src="{% static 'home/images/landing/arrow-down.svg' %}" alt="arrow-down">
      </div>
    </div>
    <div class="answer">
      <p>
        QR codes can be used for marketing, advertising, and data collection. They have many benefits that make them a
        good choice in the workplace. They are easy to use and don't require any special equipment to read them. Thus,
        anybody and everybody can put them to good use, without stress.
      </p>
    </div>
  </div>


  <div class="faq">
    <div class="question">
      <h3>Is this really the best QR Code solution ?</h3>
      <div class="svg">
        <img src="{% static 'home/images/landing/arrow-down.svg' %}" alt="arrow-down">
      </div>
    </div>
    <div class="answer">
      <p>
        QR Codes ultimately work to provide mobility and ease of access to users and that is the same concept applied
        here. With our underlying principle being "less is more", this user-friendly web tool will see you through the
        process of generating your codes, seamlessly!
      </p>
    </div>
  </div>


  <div class="faq">
    <div class="question">
      <h3>How do I create QR Code ?</h3>
      <div class="svg">
        <img src="{% static 'home/images/landing/arrow-down.svg' %}" alt="arrow-down">
      </div>
    </div>
    <div class="answer">
      <p>
        It only takes 3 simple steps. Select your preferred data type (event, whatsapp, etc), add your info in the
        data field as shown above, preview your code, and voila!
      </p>
    </div>
  </div>
</section>

{% endblock content %}

<!-- {% block script %}
  <script src="{% static 'home/js/landing_script.js' %}"></script>
  {% endblock script %} -->