* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
/* navbar styling */
.navbar {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.logo {
    font: 700 52px 'Dongle', sans-serif;
    color: #003459;
    text-decoration: none;
}
.no {
    color: #FF6835;
}
.nlink {
    color: #003459;
    font: 700 18px 'Lato', sans-serif;
}
.nav-link:hover {
    color: #bb5b3b;;
}
.btn-primary {
    font: 700 18px 'Lato', sans-serif;
    background-color: #003F6C;
    border: none;
    margin-right: 10px;
    border-radius: 12px;
    padding: 14px 16px;
}
button a, button a:hover {
    text-decoration: none;
    color: inherit;
}
.btn-outline-primary {
    font: 700 18px 'Lato', sans-serif;
    border: 1px solid #003459;
    color: #003459;
    border-radius: 12px;
    padding: 14px 16px;
}
.btn-outline-primary:hover {
    background-color: #003459;
    border: 1px solid #003459;
}
.btn-primary:hover {
    background-color: #003F6C;
}
/* Documentation and endpoint styling */
.documentation, .endpoint {
    padding: 0 72px;
    margin-top: 24px;
}
.documentation h1 {
    font: 700 50px 'Lato', sans-serif;
    color: #07070A;
}
.documentation p {
    font: 300 22px 'Lato', sans-serif;
    color: #5A5A5C;
}

.endpoint h2 {
    font: 700 40px 'Lato', sans-serif;
    color: #07070A;
}
.endpoint ul li {
    font: 300 22px 'Lato', sans-serif;
    color: #5A5A5C;
}
.endpoint p {
    font: 400 22px 'Lato', sans-serif;
    color: #5A5A5C;
    font-style: italic;
    margin-top: 34px;
}

/* main styling */
main {
    display: flex;
    flex-direction: column;
    padding: 0 72px;
}
main .heading {
    font: 700 42px 'Lato', sans-serif;
    margin-top: 16px;
}
main .description {
    font: 400 18px 'Lato', sans-serif;
    color: #5A5A5C;
    text-align: justify;
}
th, tr,td {
    border: 1px solid #07070A;
    padding: 16px 8px ;

}
th{
    font: 700 18px 'Lato', sans-serif;
    color: black;
}
td {
    font: 700 16px 'Lato', sans-serif;
}
/* request */
.request {
    display: flex;
    flex-direction: column;
}
.head-req {
    font: 400 24px 'Lato', sans-serif;
    margin-top: 20px;
}
.head-desc {
    background-color: #d5d5df;
    font: 400 16px 'Lato', sans-serif;
    padding: 10px 10px;
    line-height: 24px;
}
/* footer */
footer {
    margin-top: 72px;
    background-color: #000A12;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 72px;
    justify-content: center;
}
.logo-2 {
    text-decoration: none;
    font: 400 16px 'Lato', sans-serif;
}
.line1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
hr {
    border-radius: 50px;
    border-width: 3px;
    background-color: white;
    color: white;
}
footer p {
    color: white;
    font: 400 16px 'Lato', sans-serif;
    display: flex;
    justify-content: center;
}
.table-mob {
    display: none;
    margin-top: 16px;

}
.logo-2{
    color: white;
}
.logo-2:hover {
    color: #bb5b3b;
}


@media (max-width: 900px){
    .documentation p{
        width: 95%;
    }
    
    .line1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .line1 a {
        margin-bottom: 15px;
    }
    .line1 .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-2{
        font-size: 32px;
    }
    .documentation, .endpoint {
        padding: 0 20px;
        margin-top: 24px;
    }
}
@media (max-width: 650px){
    main {
        padding: 0 24px;
        width: 100%;
    }
    tr,td {
        border: 1px solid #07070A;
        padding: 8px 10px ;
        font-size: 18px;
        width: 100%;
    
    }
    th {
        border: 1px solid black;
        padding: 8px 10px;
        font-size: 26px;
    }
    .table-mob {
        display: block;
        width: 100%;
    }
    .table-mob table {
        width: 100%;
        margin-top: 24px;

    }
    .table-desk{
        display: none;
    }

}
