* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
a {
	text-decoration: none;
}
.navbar {
	display: block;
}
/* Documentation and endpoint styling */
.documentation {
	padding: 0 72px;
	margin-top: 24px;
}
.documentation h1 {
	font: 700 50px "Lato", sans-serif;
	color: #07070a;
}
.documentation p {
	font: 300 22px "Lato", sans-serif;
	color: #5a5a5c;
}

/* main styling */
main {
	display: flex;
	flex-direction: column;
	padding: 0 72px;
}
main .heading {
	font: 700 42px "Lato", sans-serif;
	margin-top: 16px;
}
main .description {
	font: 400 18px "Lato", sans-serif;
	color: #5a5a5c;
	text-align: justify;
}
th,
tr,
td {
	border: 1px solid #07070a;
	padding: 16px 8px;
}
th {
	font: 700 18px "Lato", sans-serif;
	color: black;
}
td {
	font: 700 16px "Lato", sans-serif;
}
/* request */
.request {
	display: flex;
	flex-direction: column;
}
.head-req {
	font: 400 24px "Lato", sans-serif;
	margin-top: 20px;
}
.head-desc {
	background-color: #d5d5df;
	font: 400 16px "Lato", sans-serif;
	padding: 10px 10px;
	line-height: 24px;
}
.table-mob {
	display: none;
	margin-top: 16px;
}
.logo-2 {
	color: white;
}
.logo-2:hover {
	color: #bb5b3b;
}

@media (max-width: 900px) {
	.documentation p {
		width: 95%;
	}
	.documentation h1 {
		font: 500 30px "Lato", sans-serif;
	}
	.documentation {
		padding: 0 20px;
		margin-top: 24px;
	}
	main .heading,
	.heading {
		font: 600 25px "Lato", sans-serif;
	}
	main .description {
		font: 200 14px "Lato", sans-serif;
	}
	.head-req {
		font: 200 18px "Lato", sans-serif;
		margin-top: 20px;
	}
}
@media (max-width: 650px) {
	main {
		padding: 0 24px;
		width: 100%;
	}
	tr,
	td {
		border: 1px solid #07070a;
		padding: 8px 10px;
		font-size: 14px;
		width: 100%;
	}
	th {
		border: 1px solid black;
		padding: 8px 10px;
		font-size: 18px;
	}
	.table-mob {
		display: block;
		width: 100%;
	}
	.table-mob table {
		width: 100%;
		margin-top: 24px;
	}
	.table-desk {
		display: none;
	}
}
