@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet');
:root {
	--navy-blue: #003459;
	--hero-color: #003f6c;
	--orange: #ff6835;
	--nav-orange: #aa4523;
	--text-color: #010102;
	--footer-color: #000a12;
	--button-color: #fafaff;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
body {
	font-family: "Lato", sans-serif;
	font-size: 24px;
	width: 100%;
	background: var(--button-color);
}
img {
	max-width: 100%;
	max-height: 100%;
}
/* Home-section Styling */
.generate {
	display: flex;
	padding-top: 15%;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 100%;
	height: 100%;
	background: var(--button-color);
}
.hero-left {
	width: 50%;
}
.hero-right {
	position: relative;
	height: 400px;
}
.hero-left span {
	color: var(--orange);
}
.hero-left h1 {
	margin: 25px 28px;
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	color: var(--hero-color);
}
.hero-left p {
	width: 100%;
	height: 50%;
	padding: 1.5rem 0.5rem 1.5rem 0;
	font-weight: 300;
	font-size: 20px;
	line-height: 42px;
	color: var(--text-color);
}
.hero-buttons {
	display: flex;
	flex-direction: row;
	gap: 30px;
	font-size: 30px;
}
.hero-buttons a {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 2rem;
	padding: 0 28px;
	gap: 8px;
	background: var(--navy-blue);
	color: var(--button-color);
	font-weight: 400;
	border-radius: 12px;
	font-size: 25px;
}
/* Second Container Styling */
.second-container {
	width: 100%;
	padding: 8rem 1.5rem 2.5rem 1.5rem;
	background: var(--button-color);
}
.create h2 {
	font-weight: 600;
	font-size: 1.5rem;
	left: 25%;
	line-height: 48px;
	justify-content: center;
	display: flex;
	text-align: center;
}
.create p.main {
	align-items: center;
	text-align: center;
	margin-left: 25%;
	width: 50%;
	font-size: 20px;
	font-weight: 300;
	line-height: 36px;
}
.image-container1 {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	gap: 2rem;
}
.imageSection {
	width: calc(28% - 45px);
	height: 400px;
	text-align: center;
	padding-top: 40px;
	cursor: pointer;
	transition: all 0.6s ease;
}
.imageSection1 img {
	max-width: 100%;
}
.cta {
	align-items: center;
	text-align: center;
	margin-left: 25%;
	width: 50%;
	font-size: 18px;
	margin-top: 1rem;
	font-weight: 300;
}
.cta p {
	margin: 1.5rem;
}
a.btn4.dark {
	flex-direction: row;
	align-items: flex-start;
	margin-top: 5px;
	padding: 12px 32px;
	background: var(--navy-blue);
	color: var(--button-color);
	font-weight: 400;
	border-radius: 12px;
	font-size: 20px;
}
a.btn5.dark {
	flex-direction: row;
	align-items: flex-start;
	padding: 12px 32px;
	background: var(--navy-blue);
	color: var(--button-color);
	font-weight: 700;
	border-radius: 12px;
	font-size: 24px;
}
.botton {
	align-items: center;
	text-align: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
/* Third Container Styling */
.third-container {
	width: 100%;
	height: 100%;
	padding: 2.5rem 1.5rem 2.5rem 1.5rem;
	background: var(--navy-blue);
}
.get-more h2 {
	font-weight: 600;
	font-size: 2rem;
	left: 25%;
	line-height: 48px;
	justify-content: center;
	display: flex;
	text-align: center;
	color: var(--button-color);
	align-items: center;
}
.get-more p.main {
	align-items: center;
	text-align: center;
	margin-left: 25%;
	margin-top: 2rem;
	width: 50%;
	font-size: 20px;
	font-weight: 300;
	line-height: 36px;
	color: var(--button-color);
}
.image-container1 {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
}
.image-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 2rem;
}

.imageSection {
	width: calc(28% - 45px);
	height: 400px;
	text-align: center;
	padding-top: 40px;
	cursor: pointer;
	transition: all 0.6s ease;
}

.imageSection h3 {
	color: var(--orange);
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	justify-content: center;
	padding-top: 15px;
	font-weight: 400;
	font-size: 25px;
	line-height: 34px;
}

.imageSection img {
	max-width: 100%;
	margin-left: 15%;
}
.imageSection p {
	padding-top: 20px;
	justify-content: center;
	display: flex;
	align-items: center;
	text-align: center;
	color: var(--button-color);
	font-weight: 300;
	font-size: 20px;
	line-height: 30px;
}
/* Fourth-container Section */
.fourth-container {
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 100%;
	height: 100%;
	background: var(--button-color);
}
.data-types h2 {
	font-weight: 600;
	padding: 2rem;
	justify-content: center;
	display: flex;
	text-align: center;
	color: var(--navy-blue);
	align-items: center;
	font-size: 30px;
}
.left.website {
	width: 50%;
}
.left.website span {
	color: var(--orange);
}
.left.website h1 {
	margin: 25px 28px;
	font-weight: 700;
	font-size: 48px;
	line-height: 72px;
	color: var(--hero-color);
}
.left.website p {
	width: 100%;
	height: 50%;
	padding: 1.5rem 0.5rem 1.5rem 0;
	font-weight: 300;
	font-size: 20px;
	line-height: 42px;
	color: var(--text-color);
}
.left {
	display: flex;
	padding: 25px 45px 10px;
	width: 100%;
	text-align: center;
	justify-content: center;
}
.left h2 {
	margin-top: 3rem;
	font-size: 30px;
	font-weight: 600;
}
.left p {
	text-align: start;
	margin-top: 1rem;
	padding-left: 5rem;
	width: 85%;
	font-size: 20px;
	font-weight: 300;
}
.right.website img {
	padding-right: 18px;
}
.fifth-container {
	width: 100%;
	padding: 2.5rem 2.5rem 1.5rem;
	text-align: center;
	background: var(--button-color);
}
/* lastSection Styling */
section {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 6rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	font-size: 3rem;
	margin: 3rem 0rem;
	text-align: center;
	color: var(--hero-color);
}
.faq {
	margin-top: 2rem;
	padding-bottom: 1rem;
	border-bottom: 2px solid var(--footer-color);
	cursor: pointer;
}
.question {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.question h3 {
	font-size: 1.4rem;
}
.answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1.4s ease;
}
.answer p {
	padding-top: 1rem;
	line-height: 1.6;
	font-size: 1.2rem;
}
.faq.active .answer {
	max-height: 300px;
	animation: fade 1s ease-in-out;
}
.faq.active .svg {
	transform: rotate(180deg);
}
.svg {
	transition: transform 0.5s ease-in;
}
@keyframes fade {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@media (min-width: 1439px) {
	.generate {
		padding-top: 6%;
	}
	.hero-left h1 {
		font-size: 56px;
	}
	.hero-left p {
		font-size: 28px;
	}
	.hero-right {
		height: 100%;
	}
	.second-container {
		padding: 10rem 1.5rem 2.5rem 1.5rem;
	}
	.create h2 {
		font-size: 2.5rem;
		padding: 1rem;
	}
	.create p.main {
		font-size: 30px;
	}
	.cta p {
		margin: 2.5rem;
		font-size: 1.2rem;
	}
	a.btn4.dark,
	a.btn5.dark {
		font-size: 32px;
	}
	.left h2 {
		font-size: 55px;
	}
	.left p {
		text-align: center;
		margin-left: 3rem;
		width: 75%;
		font-size: 20px;
		font-weight: 300;
	}
	.right.website img {
		padding-right: 0;
	}
	.title {
		font-size: 4rem;
	}
	.question h3 {
		font-size: 1.8rem;
	}
	.fa-bars:before {
		display: none;
	}
}
@media (max-width: 1024px) {
	/* .menu-btn {
		display: none;
	} */
	.hero-left h1 {
		margin: 0;
		font-weight: 700;
		font-size: 38px;
		line-height: 52px;
	}
	.hero-left p {
		font-size: 22px;
		line-height: 35px;
	}
	.hero-left p {
		font-size: 22px;
		line-height: 35px;
	}
	.left p {
		text-align: center;
		font-size: 30px;
	}
}

@media (max-width: 1023px) {
	.hero-buttons {
		width: 100%;
		margin-top: 5%;
		align-items: center;
	}
}
/* Second-section MEDIA QUERIES*/
.image-container {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
	justify-content: space-between;
}
/* Third-section MEDIA QUERIES*/
@media (max-width: 967px) {
	.customize {
		flex-direction: column-reverse;
	}
	.download {
		flex-direction: column-reverse;
	}
	.generate {
		padding-top: 25%;
	}
}
@media (max-width: 820px) {
	.generate {
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.hero-right {
		position: relative;
		margin-bottom: 10%;
		height: 18rem;
	}
	.hero-right .image {
		padding-top: 1rem;
	}
	.hero-left {
		width: 100%;
	}
	.hero-left p {
		font-size: 24px;
		padding-top: 15px;
	}
	.hero-left h1 {
		margin-top: -6rem;
		font-size: 35px;
		padding: 0 50px;
		line-height: 52px;
	}
	.hero-buttons {
		margin-top: -3px;
	}
	a.btn3.dark {
		border-radius: 12px;
		font-size: 22px;
	}
	a.btn4.dark {
		border-radius: 12px;
		font-size: 22px;
	}
	.second-container {
		height: 100%;
		margin-top: -8rem;
	}
	.fifth-container {
		padding: 4.5rem 2.5rem 1.5rem;
	}
	.get-more h2 {
		font-size: 2rem;
	}
	.get-more p.main {
		left: 10%;
		width: 50%;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
	}
	.image-container {
		margin-top: 0;
	}
	.imageSection h3 {
		padding-top: 0;
	}
	.imageSection p {
		font-size: 15px;
	}
	a.btn5.dark {
		justify-content: center;
	}
	.left h2 {
		font-size: 38px;
	}
	.left p {
		font-size: 20px;
		padding-left: 3rem;
		width: 90%;
	}
	.question h3 {
		font-size: 1rem;
	}
}
@media (max-width: 680px) {
	.hero-left h1 {
		font-size: 35px;
		line-height: 40px;
		padding-top: 3rem;
	}
	.hero-left p {
		font-size: 20px;
		line-height: 28px;
	}
	.hero-right .image {
		margin-top: 3rem;
		padding: 0;
	}
	.hero-buttons a {
		font-size: 23px;
	}
	.get-more h2 {
		font-size: 2rem;
	}
	.image-container {
		flex-direction: column;
		justify-content: center;
	}
	.imageSection {
		width: 50%;
	}
	.imageSection img {
		margin-left: 0;
	}
	.imageSection h1 {
		margin-left: 0;
	}
	.imageSection p {
		margin-left: 14.5%;
		justify-content: center;
		width: 75%;
	}
	.select {
		padding-top: 0;
	}
	.data-types h2 {
		padding: 1rem;
		font-size: 40px;
	}
	.data-types p {
		font-size: 18px;
		margin-left: 0;
		width: 100%;
	}
	a.btn5.dark {
		margin-left: 0;
		justify-content: center;
	}
}
@media (min-width: 427px) and (max-width: 628px) {
	.hero-right img {
		max-width: 100%;
	}
	img {
		max-width: 60%;
	}
	.left {
		flex-direction: column-reverse;
	}
	.left h2 {
		margin-top: 0;
	}
	.left.event {
		margin-top: 2rem;
	}
	.right.website img {
		padding-top: 1rem;
	}
}
@media (max-width: 426px) {
	.hero-buttons a {
		display: flex;
		padding-top: 2rem;
		padding: 0px 16px;
		font-size: 22px;
	}
	.hero-left h1 {
		line-height: 40px;
		padding-top: 5rem;
	}
	.hero-left p {
		font-size: 18px;
		line-height: 32px;
	}
	.cta p {
		margin: 0.9rem;
	}
	.image-container1 {
		flex-direction: column;
	}
	.image-container {
		padding-top: 10%;
	}
	.imageSection {
		width: 70%;
		height: 30%;
	}
	.imageSection h3 {
		font-size: 22px;
	}
	.imageSection p {
		font-size: 16px;
	}
	.imageSection img {
		width: 4rem;
	}
	.history {
		padding-top: 20%;
	}
	.create h2 {
		font-size: 1.1rem;
	}
	.create p.main {
		font-size: 0.9rem;
	}
	.image-container1 {
		gap: 1rem;
	}
	.second-container {
		margin-top: -9rem;
	}
	.get-more p.main {
		width: 100%;
		margin-left: 0;
	}
	.data-types p {
		font-size: 18px;
		margin-left: 0;
		line-height: 22px;
		margin-top: 1rem;
	}
	.data-types h2 {
		font-size: 25px;
		padding-top: 2rem;
	}

	.url {
		flex-direction: column-reverse;
	}
	.email {
		flex-direction: column-reverse;
	}
	.event {
		flex-direction: column-reverse;
	}

	.customize {
		flex-direction: column;
	}
	.download {
		flex-direction: column;
	}
	img.learn {
		max-width: 25%;
		margin-top: 2rem;
	}
	img.customize {
		max-width: 25%;
	}
	img.generate {
		max-width: 25%;
	}
	img.download {
		max-width: 25%;
	}
	a.btn5.dark {
		margin-top: 0;
		font-size: 17px;
	}
	.right.website img {
		padding-left: 2rem;
	}
	.url {
		margin-left: 0;
	}
	.left h2 {
		margin-top: 0;
	}
	.left p {
		margin-top: 1rem;
		width: 75%;
		text-align: center;
		font-size: 15px;
	}
	.left.email p {
		width: 85%;
	}
	.left.event p {
		width: 85%;
	}
	.left h2 {
		margin-left: 0;
	}
	.right.website img {
		padding-right: 0;
		padding-top: 2rem;
	}
	.right.website.email img {
		padding-left: 0;
		padding-top: 0;
	}
	.right.website.event img {
		padding-left: 0;
		padding-top: 0;
	}
	a.btn4.dark {
		font-size: 17px;
	}
	.question h3 {
		font-size: 16px;
	}
	.answer p {
		font-size: 0.8rem;
	}
	section {
		margin: -3rem auto;
	}
	.svg {
		width: 1.5rem;
	}
	.title {
		font-size: 2rem;
	}
}
@media (max-width: 390px) {
	img {
		max-width: 80%;
	}
	.hero-left h1 {
		padding-top: 6.5rem;
		padding-left: 1rem;
	}
	.hero-right .image {
		margin-top: 1rem;
		padding: 0;
	}
	.hero-buttons {
		margin-bottom: 1.5rem;
		margin-left: 0;
	}
	a.btn4.dark {
		font-size: 15px;
	}
	.cta p {
		margin: 3rem -1rem;
		width: 9rem;
	}
	a.btn3.dark {
		font-size: 21px;
	}
	a.btn4.light {
		font-size: 23px;
		padding-left: 17px;
	}
	.url {
		width: 100%;
	}
	.right.website img {
		padding-left: 0;
	}
	.left p {
		width: 95%;
		padding-left: 0;
	}
	.left.email p {
		width: 100%;
	}
	.left.event p {
		width: 100%;
	}
	.left h2 {
		margin-left: -1rem;
		margin-top: 1rem;
		font-size: 30px;
		text-align: center;
	}
	.fifth-container {
		padding: 2.5rem 2.5rem 1.5rem;
	}
	.answer p {
		font-size: 0.7rem;
	}
}
@media (max-width: 320px) {
	.hero-left h1 {
		padding-top: 6.5rem;
	}
	a.btn3.dark {
		font-size: 19px;
		border-radius: 12px;
	}
	a.btn4.light {
		font-size: 20px;
	}
	a.btn4.dark {
		font-size: 12px;
	}
	.hero-buttons {
		gap: 15px;
		align-items: center;
	}
	.get-more p.main {
		margin-top: 1rem;
		font-size: 15px;
		line-height: 25px;
	}
	.imageSection h3 {
		width: 10rem;
		padding-right: 1rem;
	}
	.left p {
		width: 80%;
		margin-left: 20px;
	}
	.left.email p {
		margin-left: 10px;
	}
	.left.event p {
		margin-left: 10px;
	}
}
