@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet');
:root{
    --navy-blue: #003459;
    --hero-color: #003F6C;
    --orange: #FF6835;
    --nav-orange: #AA4523;
    --text-color: #010102;
    --footer-color: #000A12;
    --button-color: #FAFAFF;
    --testimony-bkg: #CCD9E2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    width: 100%;
}
header{
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 8%);
}
section{
    padding: 100px 0;
}
nav{
    width: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
}

/* Header/Navbar Styling */
.wrapper{
    max-width: 100%;
    padding: 0 30px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.9s ease;
    padding: 15px 0;
    background: #FAFAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1030;
}
.navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: var(--navy-blue);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Dongle', sans-serif;
}
.navbar .logo a span {
    color: var(--orange);
}
.nav-links{
    flex-direction: row;
    align-items: flex-start;
}
.navbar .nav-links li {
    list-style: none;
    display: inline-block;
}
ul .nav-links{
    padding: 40px 1.5rem;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 700;
}
.navbar .nav-links li a {
    display: block;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 50px;
    transition: color 0.8s ease;
    cursor: pointer;
}
.navbar .nav-links li a:hover, a.active{
    color: var(--nav-orange);
}
.navbar .nav-links li a.active{
    color: var(--nav-orange);
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 298px;
    height: 45px;
    cursor: pointer;
}
a.btn1.dark{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    background: var(--navy-blue);
    border-radius: 12px;
    color: var(--button-color);
    font-weight: 700;
    margin-right: 10px;
}
a.btn2.light{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    border: 1px solid var(--navy-blue);
    color: var(--navy-blue);
    border-radius: 12px;
    font-weight: 700;
}
a.btn2.light:hover{
    background: var(--navy-blue);
    transition: all 0.9s ease;
    color: var(--button-color);
}
/* Home-section Styling */
.generate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 100%;
    height: 100%;
    background: var(--button-color);
}
.hero-left{
    width: 50%;
}
.hero-right{
    position: relative;
    top: 50px;
    height: 490px;
}
.hero-left span{
    color: var(--orange);
}
.hero-left h1{
    margin: 25px 28px;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    color: var(--hero-color);
    
}
.hero-left p{
    width: 100%;
    height: 50%;
    padding: 1.5rem 0.5rem 1.5rem 0;
    font-weight: 510;
    font-size: 28px;
    line-height: 42px;
    color: var(--text-color);
}
.hero-buttons{
    display: flex;
    flex-direction: row;
    height: 61px;
}
a.btn3.dark{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1px 22px;
    gap: 8px;
    background: var(--navy-blue);
    color: var(--button-color);
    font-weight: 700;
    border-radius: 12px;
    font-size: 30px;
}
a.btn4.light:hover{
    background: var(--navy-blue);
    transition: all 0.9s ease;
    color: var(--button-color);
}
/* Second Container Styling */
.second-container{
    width: 100%;
    height: 100vh;
    padding: 2.5rem 1.5rem 2.5rem 1.5rem;
    background: var(--navy-blue);
}
.get-more h2{
    font-weight: 800;
    font-size: 2.5rem;
    left: 25%;
    line-height: 48px;
    justify-content: center;
    display: flex;
    text-align: center;
    color: var(--button-color);
    align-items: center;
}
.get-more p.main {
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 2rem;
    width: 50%;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    color: var(--button-color);
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.imageSection {
    width: calc(28% - 45px);
    height: 400px;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
    transition: all 0.6s ease;
}
 
.imageSection h3 {
    color: var(--orange);
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    justify-content: center;
    padding-top: 15px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
}
 
 .imageSection img {
    max-width: 100%;
    margin-left: 15%;
}
.imageSection p{
    padding-top: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--button-color);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

/* Third Container Styling */
.third-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.get-started h2{
    padding: 0 0 2.5rem;
    font-weight: 800;
    font-size: 2.5rem;
    left: 25%;
    line-height: 48px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
}
.get-started p{
    margin-left: 26.5%;
    width: 50%;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
}
.contain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.6s ease;
}
.growth img{
    max-width: 100%;
    width: 520px;
    padding: 15px 80px 15px 60px;
}
img.learn{
    padding-right: 60px;
}
img.customize{
    padding-left: 60px;
}
img.generate{
    padding-right: 60px;
}
img.download{
    padding-left: 60px;
}
.content{
    padding: 80px;
}
.content h2{
    margin: 10px 0;
}
.content p{
    width: 100%;
    height: 100%;
    padding: 0 0 0.63rem;
}
.left{
    margin-right: 0px;
}
.left p{
    width: 100%;
}
a.btn5.dark{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1rem 2rem 1rem 2rem;
    background: var(--navy-blue);
    color: var(--button-color);
    font-weight: 700;
    margin-top: 5rem;
    margin-left: 3rem;
    border-radius: 12px;
    font-size: 25px;
}
/* Footer Styling */
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.13rem 4.5rem;
    gap: 40px;
    background: var(--footer-color);
    width: 100%;
    height: 13.75rem;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10px;
}
.footer-logo a{
    color: var(--button-color);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Dongle', sans-serif;
}
.footer-nav1{
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    padding: 40px 0;
    gap: 78px;
    height: 110px;
    left: 25%;
}
.footer-nav1 li{
    list-style: none;
    display: inline-block; 
}
ul .footer-nav1{
    padding: 40px 0;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 700;
}
.footer-nav1 li a{
    display: block;
    color: var(--button-color);
    font-size: 20px;
    width: 100%;
    transition: color 0.8s ease;
    cursor: pointer;
}
.footer-nav1 li a:hover{
    color: var(--nav-orange);
}
.footer-nav1 li a.active{
    color: var(--nav-orange);
}
.line {
    content: "";
    height: 2px;
    width: 100%;
    background: var(--button-color);
}
.footer-nav2 p{
    display: flex;
    font-size: 20px;
    margin-left: 18rem;
    color: var(--button-color);
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--navy-blue);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}
@media (min-width:1339px) {
    .footer-nav1{
        gap: 200px;
    }
    .footer-nav1 li a{
        font-size: 20px;
    }
    .footer-nav2{
        padding-left: 200px;
    }
}

@media (min-width: 1023.5px) {
    .menu-btn {
        display: none;
    }
    .imageSection {
        width: calc(32% - 48px);
    }
    .imageSection img{
        margin-left: 0;
    }
    .navbar .nav-links li a{
        font-size: 20px;
    }
    .nav-buttons{
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
/* Menu-button MEDIA QUERIES*/
    .menu-btn {
        display: block;
        z-index: 999;
        font-size: 40px;
        color: var(--navy-blue);
    }
    .menu-btn i.active:before {
        content: "\f00d";
        color: var(--button-color);
    }
    .logo{
        color: var(--button-color);
    }
/* Header MEDIA QUERIES*/
    .navbar .nav-links {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--navy-blue);
        text-align: center;
        transition: all 0.6s ease;
    }
    .wrapper {
        max-width: 930px;
    }
    .navbar .nav-links.active {
        left: 0;
    }
    .nav-buttons{
        display: none;
    }
    .navbar .nav-links li {
        display: block;
        position: relative;
        width: 100%;
        height: 20%;
    }
    .navbar .logo a {
        color: var(--navy-blue);
        font-size: 48px;
        font-weight: 600;
        font-family: 'Dongle', sans-serif;
    }
    .navbar .logo a span {
        color: var(--orange);
    }
    .navbar .nav-links li a {
        display: inline-block;
        margin: 4rem 0;
        color: var(--button-color);
        font-size: 40px;
    }
    .imageSection{
        width: 30%;
        margin: 0;
    }
    .hero-buttons{
        width: 100%;
        margin-top: 5%;
        align-items: center;
    }
    .content {
        padding: 20px;
    }
    img.learn{
        padding-right: 30px;
    }
    img.customize{
        padding-left: 30px;
    }
    img.generate{
        padding-right: 30px;
    }
    img.download{
        padding-left: 30px;
    }
}
/* Second-section MEDIA QUERIES*/
    .image-container{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between;
    }    
/* Third-section MEDIA QUERIES*/
@media (max-width: 967px) {
    header{
        height: 120vh;
    }
    .get-started h2{
        top: 218vh;
    }
    .contain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        transition: all 0.6s ease;
    }
    .content {
        padding-left: 0;
    }
    .content h2{
        margin: 20px 0;
        font-size: 38px;
        width: 100%;
    }
    .content p{
        width: 100%;
        padding: 0.5rem 0 0.63rem;
    }
    .customize{
        flex-direction: column-reverse;
    }
    .download{
        flex-direction: column-reverse;
    }
    .footer-logo a {
        font-size: 40px;
        margin-left: -35px;
    }
    .footer-nav1{
        gap: 42px;
    }
    .footer-nav1 li a{
        font-size: 17px;
    }
    .footer-nav1 li a:hover{
        color: var(--nav-orange);
    }
    .footer-nav1 li a.active{
        color: var(--nav-orange);
    }
    .footer-nav2 p{
        font-size: 17px;
        margin-left: 13rem;
        color: var(--button-color);
    }
}
@media (max-width: 820px) {
    .hero-left{
        width: 100%;
    }
    .hero-buttons{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
        right: 25%;
        width: 428px;
        bottom: -60px;
        cursor: pointer;
    }
}
@media (max-width: 770px) {
    .navbar{
        padding: 0;
    }
    .generate {
        padding-bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero-right {
        position: relative;
        margin-bottom: 10%;
        height: 18rem;
    }
    .hero-right .image {
        width: 16rem;
        margin-top: -5rem;
    }
    .hero-left{
        width: 100%;
    }
    .hero-left p{
        font-size: 24px;
        padding: 0;
    }
    .hero-left h1 {
        padding-top: 6rem;
        margin: 0 32px;
        font-size: 35px;
        line-height: 52px;
    }
    .hero-buttons{
        width: 100%;
        justify-content: center;
    }
    a.btn3.dark{
        border-radius: 15px;
        height: 65px;
        margin-top: 18rem;
    }
    .get-more h2{
        font-size: 2rem;
    }
    .get-more p.main{
        left: 10%;
        width: 50%;
        font-size: 22px;
        font-weight: 400;
        line-height: 30px;
    }
    .image-container{
        margin-top: 0;
    }
    .content{
        padding: 10px;
    }
    .content p{
        width: 100%;
    }
    a.btn5.dark{
        justify-content: center;
    }
    .footer-nav1 li a {
        font-size: 15px;
    }
}
@media (max-width: 624px) {
    .hero-left h1 {
        font-size: 38px;
        line-height: 50px;
    }
    .hero-left p {
        font-size: 20px;
        line-height: 32px;
    }
    .get-more h2{
        font-size: 2rem;
    }
    .image-container{
        flex-direction: column;
        justify-content: center;
    }
    .imageSection{
        width: 50%;
    }
    .imageSection img{
        margin-left: 0;
    }
    .imageSection h1 {
        margin-left: 0;
    }
    .imageSection p {
        margin-left: 14.5%;
        justify-content: center;
        width: 75%;
    }
    .second-container{
        height: 180vh;
    }
    .select{
        padding-top: 0;
    }
    .get-started h2{
        padding: 0;
        font-size: 40px;
    }
    .get-started p{
        font-size: 18px;
        margin-left: 0;
        width: 100%;
    }
    a.btn5.dark{
        margin-left: 0;
        justify-content: center;
    }
    .footer-logo{
        margin-top: -50px;
    }
}
@media (max-width: 426px) {
    .image-container{
        padding-top: 10%;
    }
    .imageSection{
        width: 70%;
        height: 30%;
    }
    .imageSection h3{
        font-size: 22px;
    }
    .imageSection p{
        font-size: 16px;
    }
    .imageSection img{
        width: 4rem;
    }
    .history{
        padding-top: 20%;
    }
    .get-more p.main{
        width: 100%;
        margin-left: 0;
    }
    .get-started p{
        font-size: 18px;
        margin-left: 0;
        line-height: 22px;
        margin-top: 1rem;
    }
    .get-started h2 {
        top: 270vh;
        font-size: 40px;
        width: 100%;
        left: 7%;
    }
    .content p {
        font-size: 18px;
        padding-left: 0;
    }
    .content h2 {
        margin-left: 0;
        font-size: 28px;
    }
    section {
        padding: 50px 0;
    }
    .contain{
        flex-direction: column-reverse;
    }
    .customize{
        flex-direction: column;
    }
    .download{
        flex-direction: column;
    }
    img.learn{
        max-width: 25%;
        margin-top: 2rem;
        padding-right: 0;
    }
    img.customize{
        max-width: 25%;
        padding-left: 0;
    }
    img.generate{
        max-width: 25%;
        padding-right: 0;
    }
    img.download{
        max-width: 25%;
        padding-left: 0;
    }
    a.btn5.dark{
        margin-top: 0;
        font-size: 17px;
    }
    .footer-logo{
        margin-top: 0;
        margin-left: -2rem;
    }
    .footer-logo a{
        font-size: 35px;
    }
    .footer-nav1{
        gap: 24px;
        margin-left: -6rem;
        margin-top: 4rem;
        padding: 50px 0;
    }
    .footer-nav1 li a{
        font-size: 13px;
        margin-left: 30px;
    }
    .line{
        margin-top: 2rem;
    }
    .footer-nav2 p{
        font-size: 15px;
        margin-left: 3rem;
    }
}
@media (max-width: 376px) {
    a.btn3.dark {
        height: 55px;
        font-size: 25px;
        margin-top: 14rem;
    }
    .footer-nav1{
        gap: 20px;
        margin-left: -6rem;
        margin-top: 4rem;
        padding: 50px 0;
    }
    .footer-nav1 li a{
        font-size: 12px;
        margin-left: 29px;
    }
    .navbar .nav-links li a {
        font-size: 20px;
    }
    .menu-btn{
        font-size: 0;
    }
    .fa-bars:before {
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    .hero-left h1{
        padding-top: 4rem;
        font-size: 30px;
    }
    a.btn3.dark{
        margin-top: 16.5rem;
    }
    .get-more p.main{
        margin-top: 1rem;
        font-size: 15px;
        line-height: 25px;
    }
    .imageSection h3{
        width: 10rem;
        padding-right: 1rem;
    }
    .footer-nav1{
        gap: 20px;
        margin-left: -6rem;
        margin-top: 4rem;
        padding: 50px 0;
    }
    .footer-nav1 li a{
        font-size: 10px;
        margin-left: 24px;
    }
    .footer-nav2 p{
        margin-left: 1rem;
    }
    .navbar .logo a{
        font-size: 35px;
    }
}
