@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
:root{
    --navy-blue: #003459;
    --hero-color: #003F6C;
    --orange: #FF6835;
    --nav-orange: #AA4523;
    --text-color: #010102;
    --footer-color: #000A12;
    --button-color: #FAFAFF;
    --testimony-bkg: #CCD9E2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}
body{
    width: 100%;
    /* font-size: 24px; */
    font-family: 'Lato', sans-serif;
    color: #07070A;
    margin-top: 50px;
    background: #FAFAFF;
    /* overflow-x: hidden; */
    /* padding-left: 5rem;
    padding-top: 1.5rem;
    padding-right: 5rem; */
}
.main{
    width: 90%;
    margin: 0 auto;
}
.section_1{
    margin-top: 100px;
    width: 100%;
}
.section_1_wrapper{
    margin-top: 5rem;
}
.section_1_div_1,
.section_1_div_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
}
.image_div{
    width: 40%;
}
.des_div{
    /* padding-left: 14rem; */
    width: 40%;
}
.des_div p{
    width: 100%;
    font-size: 1.5rem;
}
.image_div img{
    width: 100%;
}
.section_1_header h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}
/* .section_1 > div > div{ */
/*      */
/* } */

.section_2 div{
    width: 50%;
    margin: 5rem auto;
}
.section_2 div h1{
    text-align: center;
    font-size: 3rem;
}
.section_2 p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.6rem;
    opacity: 0.8;
}
.section_3{
    width: 100%;
    margin-bottom: 5rem;
}
.section_3 .section_3_des {
    width: 50%;
    margin: 5rem auto;
}
.section_3 .section_3_des h1{
    text-align: center;
    font-size: 3rem;
}
.section_3_des h3{
    font-size: 2rem;
    text-align: center;
}
.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    transition: transform 1s;
}
.profile figure{
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-top: 5rem;
}
.profile figure img{
    width: 30%;
    margin: 0 auto;
}
.profile figure figcaption{
    text-align: center;
}
.profile figure figcaption h5{
    font-size: 1.5rem;
}
.profile figure figcaption p{
    font-size: 1.2rem;
}
.nextslide{
    display: none;
}
/* HEADER CSS */
header{
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 8%);
}
nav{
    width: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
}

/* Header/Navbar Styling */
.wrapper{
    max-width: 100%;
    padding: 0 2rem;
    margin: auto;
}
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2rem 0;
    transition: all 0.9s ease;
    padding: 1rem 0;
    background: #FAFAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1030;
}
.navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: var(--navy-blue);
    font-size: 3.4rem;
    font-weight: 800;
    font-family: 'Dongle', sans-serif;
}
.navbar .logo a span {
    font-size: 3.4rem;
    color: var(--orange);
}
.nav-links{
    flex-direction: row;
    align-items: flex-start;
}
.navbar .nav-links li {
    list-style: none;
    display: inline-block;
}
ul .nav-links{
    padding: 2.5rem 1.5rem;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 700;
}
.navbar .nav-links li a {
    display: block;
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 50px;
    transition: color 0.8s ease;
    cursor: pointer;
}
.navbar .nav-links li a:hover, a.active{
    color: var(--nav-orange);
}
.navbar .nav-links li a.active{
    color: var(--nav-orange);
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    width: 298px;
    height: 45px;
    cursor: pointer;
}
a.btn1.dark{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.5rem;
    padding: 8px 16px;
    gap: 8px;
    background: var(--navy-blue);
    border-radius: 12px;
    color: var(--button-color);
    font-weight: 700;
}
a.btn2.light{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-size: 1.5rem;
    padding: 8px;
    gap: 8px;
    border: 1px solid var(--navy-blue);
    color: var(--navy-blue);
    border-radius: 12px;
    font-weight: 700;
}
a.btn2.light:hover{
    background: var(--navy-blue);
    transition: all 0.9s ease;
    color: var(--button-color);
}
/* Footer Styling */
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.13rem 4.5rem;
    gap: 40px;
    background: var(--footer-color);
    width: 100%;
    /* height: 13.75rem; */
}
.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* height: 10px; */
}
.footer-logo{
    width: 30%;
}
.footer-logo a{
    color: var(--button-color);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Dongle', sans-serif;
}
.footer-nav1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70%;
}
.footer-nav1 li{
    list-style: none;
    display: inline-block; 
}
ul .footer-nav1{
    padding: 40px 0;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 700;
}
.footer-nav1 li a{
    display: block;
    color: var(--button-color);
    font-size: 20px;
    width: 100%;
    transition: color 0.8s ease;
    cursor: pointer;
}
.footer-nav1 li a:hover{
    color: var(--nav-orange);
}
.footer-nav1 li a.active{
    color: var(--nav-orange);
}
.line {
    content: "";
    font-size: 24px;
    height: 2px;
    width: 100%;
    background: var(--button-color);
}
.footer-nav2{
    width: 100%;
}
.footer-nav2 p{
    font-size: 20px;
    width: 100%;
    text-align: center;
    /* margin-left: 18rem; */
    color: var(--button-color);
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--navy-blue);
    right: 5%;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}
.scroll-up-btn i{
    width: 100%;
    height: 100%;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}
/* @media (min-width:1339px) {
    .footer-nav1{
        gap: 200px;
    }
    .footer-nav1 li a{
        font-size: 20px;
    }
    .footer-nav2{
        padding-left: 200px;
    }
} */

@media (min-width: 1023.5px) {
    .menu-btn {
        display: none;
    }
    .imageSection {
        width: calc(32% - 48px);
    }
    .imageSection img{
        margin-left: 0;
    }
    .navbar .nav-links li a{
        font-size: 20px;
    }
    .nav-buttons{
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
/* Menu-button MEDIA QUERIES*/
    .menu-btn {
        display: block;
        z-index: 999;
        color: var(--navy-blue);
    }
    .menu-btn i{
        font-size: 40px;

    }
    .menu-btn i.active:before {
        content: "\f00d";
        color: var(--button-color);
    }
    .logo{
        color: var(--button-color);
    }
/* Header MEDIA QUERIES*/
    .navbar .nav-links {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--navy-blue);
        text-align: center;
        transition: all 0.6s ease;
    }
    .wrapper {
        max-width: 930px;
    }
    .navbar .nav-links.active {
        left: 0;
    }
    .nav-buttons{
        display: none;
    }
    .navbar .nav-links li {
        display: block;
        position: relative; 
        width: 100%;
        height: 20%;
    }
    .navbar .logo a {
        color: var(--navy-blue);
        font-size: 48px;
        font-weight: 600;
        font-family: 'Dongle', sans-serif;
    }
    .navbar .logo a span {
        color: var(--orange);
    }
    .navbar .nav-links li a {
        display: inline-block;
        margin: 4rem 0;
        color: var(--button-color);
        font-size: 40px;
    }
}
@media (max-width: 967px) {
    .people{
        display: flex;
        position: relative;

        flex-direction: row;
        
    }
    .profile{
        /* position: absolute; */
        /* top: 0; */
        display: none;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        transition: transform 1s;
        overflow: hidden;
    }
    .profile.show{
        display: flex;
    }
    .profile figure{
        width: 50%;
        margin-top: 5rem;
    }
    .nextslide{
        position: absolute;
        right: 0;
        height: 3rem;
        top: 14rem;
        display: block;
        cursor: pointer;
    }
    .section_1_div_1,
    .section_1_div_2{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        gap: 1.5rem;
        align-items: center;
        /* width: 100%; */
    }
    .des_div{
        /* padding-left: 14rem; */
        width: 70%;
    }
    .des_div p{
        text-align: center;
    }
    .image_div{
        width: 60%;
    }
    .section_1_header{
        width: 100%;
    }
    .section_1_header h1{
        text-align: center;
    }
    .section_2 div{
        width: 70%;
    }
    .section_3 .section_3_des {
        width: 70%;
    }
}
@media (max-width: 770px) {
    .navbar{
        padding: 0;
    }
    .footer-nav1 li a {
        font-size: 15px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        width: 100%;
        /* height: 10px; */
    }
    .footer-logo {
        width: 100%;
        float: left;
    }
    .footer-nav1{
        width: 100%;
    }
    footer{
        padding: 3.5rem 1rem;
    }
}
@media (max-width: 624px) {
     .footer-logo{
        margin-top: -50px;
    }
    .nextslide{
        /* top: 55%; */
        height: 2rem;

    }
    .des_div{
        /* padding-left: 14rem; */
        width: 90%;
    }
    .image_div{
        width: 70%;
    }
    .section_2 div{
        width: 100%;
    }
    .section_3 .section_3_des {
        width: 100%;
    }
}
@media (max-width: 456px) {
    .section_3 .section_3_des h1{
        font-size: 2.5rem;
    }
} 
@media(max-width: 376px){
    /* .footer-nav1{
        margin-left: -6rem;
        margin-top: 4rem;
        padding: 50px 0;
    }
    .footer-nav1 li a{
        font-size: 12px;
    } */
    .navbar .nav-links li a {
        font-size: 20px;
    }
    .menu-btn{
        font-size: 0;
    }
    .fa-bars:before {
        font-size: 30px;
    }
}
@media (max-width: 320px) {
    /* .footer-nav1{
        gap: 20px;
        margin-left: -6rem;
        margin-top: 4rem;
        padding: 50px 0;
    }
    .footer-nav1 li a{
        font-size: 10px;
        margin-left: 24px;
    }
    .footer-nav2 p{
        margin-left: 1rem;
    } */
    .navbar .logo a{
        font-size: 35px;
    }
}
