@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet');
:root{
    --navy-blue: #003459;
    --hero-color: #003F6C;
    --orange: #FF6835;
    --nav-orange: #AA4523;
    --text-color: #010102;
    --footer-color: #000A12;
    --button-color: #FAFAFF;
    --testimony-bkg: #CCD9E2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    width: 100%;
}
header{
    height: 100vh;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 8%);
}
section{
    padding: 100px 0;
}
nav{
    width: 100%;
}
img{
    max-width: 100%;
    max-height: 100%;
}

/* Header/Navbar Styling */
.wrapper{
    max-width: 100%;
    padding: 0 30px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0;
    transition: all 0.9s ease;
    padding: 15px 0;
    background: #FAFAFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    z-index: 1030;
}
.navbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: var(--navy-blue);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Dongle', sans-serif;
}
.navbar .logo a span {
    color: var(--orange);
}
.nav-links{
    flex-direction: row;
    align-items: flex-start;
}
.navbar .nav-links li {
    list-style: none;
    display: inline-block;
}
ul .nav-links{
    padding: 40px 1.5rem;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 700;
}
.navbar .nav-links li a {
    display: block;
    color: var(--text-color);
    font-weight: 600;
    margin-left: 50px;
    transition: color 0.8s ease;
    cursor: pointer;
}
.navbar .nav-links li a:hover, a.active{
    color: var(--nav-orange);
}
.navbar .nav-links li a.active{
    color: var(--nav-orange);
}
.nav-buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    width: 298px;
    height: 45px;
    cursor: pointer;
}
a.btn1.dark{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    gap: 8px;
    background: var(--navy-blue);
    border-radius: 12px;
    color: var(--button-color);
    font-weight: 700;
}
a.btn2.light{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
    border: 1px solid var(--navy-blue);
    color: var(--navy-blue);
    border-radius: 12px;
    font-weight: 700;
}
a.btn2.light:hover{
    background: var(--navy-blue);
    transition: all 0.9s ease;
    color: var(--button-color);
}

/* Flex-Cntainer */
.flex-container-one {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px;
    font-size: 12px;     
}
.flex-container-two {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px;
    font-size: 12px;       
}
.flex-container-three {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px; 
    font-size: 12px;      
}
.flex-container-four {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px;
    font-size: 12px;       
}
.flex-container-five {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px; 
    font-size: 12px;     
}
.flex-container-six {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 76px;
    font-size: 12px;      
}




 

/* Footer Styling */
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 3.13rem 4.5rem;
    gap: 40px;
    background: var(--footer-color);
    position: absolute;
    width: 100%;
    height: 13.75rem;
}
.footer-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10px;
}
.footer-logo a{
    color: var(--button-color);
    font-size: 48px;
    font-weight: 600;
    font-family: 'Dongle', sans-serif;
}
.footer-nav1{
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    padding: 40px 0;
    gap: 32px;
    position: absolute;
    height: 110px;
    left: 25%;
}
.footer-nav1 li{
    list-style: none;
    display: inline-block; 
}
ul .footer-nav1{
    padding: 40px 0;
    gap: 10px;
    font-size: 1.75rem;
    font-weight: 700;
}
.footer-nav1 li a{
    display: block;
    color: var(--button-color);
    margin-left: 50px;
    font-size: 20px;
    width: 100%;
    transition: color 0.8s ease;
    cursor: pointer;
}
.footer-nav1 li a:hover{
    color: var(--nav-orange);
}
.footer-nav1 li a.active{
    color: var(--nav-orange);
}
.line {
    content: "";
    height: 2px;
    width: 90%;
    position: absolute;
    left: 50px;
    top: 50%;
    background: var(--button-color);
}
.footer-nav2 p{
    display: flex;
    position: absolute;
    width: 150px;
    height: 30px;
    left: 45%;
    top: 70%;
    line-height: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: var(--button-color);
}
.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: var(--navy-blue);
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}

.scroll-up-btn:hover {
    filter: brightness(90%);
}

@media (min-width: 1091px) {
    .menu-btn {
        display: none;
    }
    .footer-nav1{
        gap: 42px;
        left: 30%;
    }
}
@media (max-width: 1090px) {
/* Menu-button MEDIA QUERIES*/
    .menu-btn {
        display: block;
        z-index: 999;
        font-size: 40px;
        color: var(--navy-blue);
    }
    .menu-btn i.active:before {
        content: "\f00d";
        color: var(--button-color);
    }
/* Header MEDIA QUERIES*/
    .navbar .nav-links {
        position: fixed;
        height: 100%;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--navy-blue);
        text-align: center;
        transition: all 0.6s ease;
    }
    .wrapper {
        max-width: 930px;
    }
    .navbar .nav-links.active {
        left: 0;
    }
    .nav-buttons{
        display: none;
    }
    .navbar .nav-links li {
        display: block;
        position: relative;
        width: 100%;
        height: 20%;
    }
    .navbar .logo a {
        color: var(--navy-blue);
        font-size: 48px;
        font-weight: 600;
        font-family: 'Dongle', sans-serif;
    }
    .navbar .logo a span {
        color: var(--orange);
    }
    .navbar .nav-links li a {
        display: inline-block;
        margin: 4rem 0;
        color: var(--button-color);
        font-size: 40px;
    }
}
@media (max-width: 967px){
    .footer-logo a {
        font-size: 40px;
        margin-left: -35px;
    }
    .footer-nav1 li a{
        font-size: 17px;
    }
 .footer-nav1 li a:hover{
        color: var(--nav-orange);
    }
    .footer-nav1 li a.active{
        color: var(--nav-orange);
    }
    .line {
        content: "";
        height: 2px;
        width: 90%;
        position: absolute;
        left: 50px;
        top: 50%;
        background: var(--button-color);
    }
    .footer-nav1{
        gap: 0;
    }
    .footer-nav2 p{
        font-size: 17px;
        color: var(--button-color);
    }
}
@media (max-width: 624px) {

}
    .footer-nav1{
        gap: 22px;
        margin-top: 70px;
        margin-left: -20%;
    }
    .footer-logo{
        margin-top: -50px;
    }