<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn</title>
    {% load static %}
    <!-- bootsrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- css styling -->
    <link rel="stylesheet" href="{% static 'css/learn.css' %}">

</head>
<body>
   <header>
        <nav class="navbar navbar-expand-lg navbar-expand-md bg-white mb-lg-5">
            <div class="container container-lg">
                <a class="navbar-brand logo" href="#">QrGen<span class="no">59</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                        <li class="nav-item me-4">
                        <a class="nav-link nlink"href="{% url 'feature-page' %}">Features</a>
                        </li>
                        <li class="nav-item me-4">
                        <a class="nav-link active nlink"  aria-current="page"  href="#">Learn</a>
                        </li>
                        <li class="nav-item me-4">
                        <a class="nav-link nlink" href="#">Demo</a>
                        </li>
                        <li class="nav-item me-4">
                        <a class="nav-link nlink" href="#">Help</a>
                        </li>
                    </ul>
                    <div>
                      {% if user.is_authenticated %}
                        <a href="{% url 'dashboard-page' %}"><button type="button" class="btn btn-primary">Dashboard</button></a>
                        <a href="{% url 'logout' %}"><button type="button" class="btn btn-outline-primary">Log out</button></a>
                      {% else %}
                       <a href="{% url 'register-page' %}"><button type="button" class="btn btn-outline-primary">Sign up</button></a>
                       <a href="{% url 'login-page' %}"><button type="button" class="btn btn-primary">Login</button></a>
                      {% endif %}
                  </div>
                </div>
                
              </div>
            </div>
            </nav>
            <!-- subs styling -->
            <section class="mt-lg-5">
                <div class="container subs">
                    <div class="col-12 col-lg-5 col-sm-12 ps-lg-5 ps-md-0">
                        <h3 class="sub-head">Subscribe and learn more about QRCodes Solutions</h3>
                        <p class="sub-desc">Add any of our  downloadable Resource file to any media available to you, and  use any of our QR Code solutions to enrich your print materials.</p>
                    </div>
                    <div class="col-6 col-lg-6 col-sm-12">
                        <img class="pics img-fluid" src="{% static 'image/QR Code-rafiki 1.svg' %}" alt="pic">
                    </div>
                </div>
            </section>
            <!-- BRQ styling -->
            <section>
                <div class="container-fluid brq mb-lg-5 ">
                    <div class="blog col-10 col-lg-3 col-md-6">
                        <img class="img-fluid" src="{% static 'image/cloud-add.svg' %}" alt="blog">
                        <h4>BLOG</h4>
                        <p>All you need to know about our QRCodes</p>
                    </div>
                    <div class="resc col-10 col-lg-3 col-md-6">
                        <img src="{% static 'image/emoji-sad.svg' %}" alt="resc">
                        <h4>RESOURCES</h4>
                        <p>Extract all our Ebooks , Trainings and Webinar for free </p>
                    </div>
                    <div class="basic col-10 col-lg-4 col-md-6">
                        <img src="{% static 'image/maximize.svg' %}" alt="basic">
                        <h4>QR Code Basics</h4>
                        <p>No too worries if you are new to QR Codes, We've got you covered</p>
                    </div>
                </div>
            </section>
   </header> 
   <!-- main styling -->
   <main>
        <section>
            <div class="container text-center solution">
                <div class="sol-head mb-lg-5 mb-md-4 mb-sm-3">
                    <h2>QR Codes Solution</h2>
                </div>
                <div class="card-layout container row g-5">
                    <div class="card col-10 col-lg-5 col-md-10 col-sm-10 mx-5 mx-lg-5 mx-md-5 mx-sm-3">
                        <img src="{% static 'image/Rectangle 26.svg' %}" class="card-img-top" alt="meeting">
                        <div class="card-body">
                          <h5 class="card-title card-head">Meetings</h5>
                          <p class="card-text card-desc">QR codes are a great way to get people to join your various meeting using Zoom, Google Meet, Slack etc. They are easy to create and share, and they are ready to be used immediately. <br> <br>
                         When you create a QR code for your meeting, it will appear on the screen and can be scanned by anyone with a mobile device that has the appropriate app installed.</p>
                          <button class="btn btn-light ">Learn More</button>
                        </div>
                    </div>
                    <div class="card col-10 col-lg-5 col-md-10 col-sm-10 col-xs-10 mx-5 mx-lg-0 mx-md-5 mx-sm-3">
                        <img src="{% static 'image/Rectangle 28.svg' %}" class="card-img-top" alt="attendance">
                        <div class="card-body">
                          <h5 class="card-title card-head">Attendance</h5>
                          <p class="card-text card-desc">Tracking attendance is so easy with QR codes! No more writing down attendance sheets, or clocking in. Just use attendance tracking QR codes to let everyone know who was there and who wasn't. It's great for tracking people at school and at work. <br> <br>
                          You can use it on an employee ID badge, or on an access key card to get into your office or building.</p>
                          <button class="btn btn-light ">Learn More</button>
                        </div>
                    </div>
                    <div class="card col-10 col-lg-5 col-md-10 col-sm-10 col-xs-10 mx-5 mx-lg-5 mx-md-5 mx-sm-3">
                        <img src="{% static 'image/Rectangle 30.svg' %}" class="card-img-top" alt="business">
                        <div class="card-body">
                          <h5 class="card-title card-head">Business</h5>
                          <p class="card-text card-desc">Business QR codes are an easy way for you to connect with potential customers by giving them access to information about your products and services right from their phones. QR codes make it possible for people who don't know what they're looking at to find out more about what you offer. <br> <br>
                          All you have to do is create your business QR code and send it to the world! A single scan can turn to people connecting with you through social media, subscribing to your email newsletter, or a new customer!.</p>
                          <button class="btn btn-light ">Learn More</button>
                        </div>
                    </div>
                    <div class="card col-10 col-lg-5 col-md-10 col-sm-10 col-xs-10 mx-5 mx-lg-0 mx-md-5 mx-sm-3">
                        <img src="{% static 'image/Rectangle 32.svg' %}" class="card-img-top" alt="email">
                        <div class="card-body">
                          <h5 class="card-title card-head">Email</h5>
                          <p class="card-text card-desc">Email message QR codes can make life easier for your customers, clients, and the rest of your world. With this QR code, customers can skip the whole "call or text me" step and just send your business a quick email.  <br> <br>
                          When people scan it with their phone, they'll be directed straight to their email app with an email draft already typed in. They can add additional details if they want. And then just press send. It's that easy!</p>
                          <button class="btn btn-light">Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq styling -->
        <section>
            <div class="container mt-5">
                <div class="faq-head text-center">
                    <h2>FAQ</h2>
                </div>
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          <p class="faq-p"> Who Uses QR Code </p>
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">QR Code have become vast and has variously been used across the globe by the millennial. Twice as many people scanned a QR Code in Europe and the US in 2018 than in 2015 (Global Web Index) by 2022, 5.3 billion QR code coupons to be redeemed (Juniper Research) by 2022, 1 billion smartphones will access QR codes (Juniper Research). Hundreds of thousands of other business owners, brand managers, restaurant owners, and marketers make use of QR Codes.</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            <p class="faq-p">Is this really the best QR Code Solution ? </p>
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body"></div>This is the best QR Code solution because it offers free option on its website that allows you to create a custom QR Code at your very own leisure time at affordable cost. The website also has informative material to help you get started. However, if you are evaluating it for a project/campaign and for one-time use, I'd encourage you to sign up for a free trial to experience its potential.
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                           <p class="faq-p"> How do I create QR Code ? </p>
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                          - Head to <a href="https://qr-code-generator.com" style="text-decoration: none;">qr-code-generator.com</a> <br>
                          - Enter your URL <br>
                          - Customize your QR code's frame, shape, and color <br>
                          - Click “Download” and save the file to your computer <br>
                          - Add the QR code to print collateral.
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
        </section>
   </main>
   <!-- footer -->
   <footer class="footer">
      <section class="foot-item container">
          <div class="logo-line">
            <a class="navbar-brand logo col-12 col-lg-2 col-md-4 col-sm-6" href="#">QrGen<span class="no">59</span></a>
            <a href="#" class="col-12 col-lg-2 col-md-4 col-sm-6 mb-2  items">Features</a>
            <a href="#" class="col-12 col-lg-2 col-md-4 col-sm-6 mb-2 items">QR Code API</a>
            <a href="#" class="col-12 col-lg-2 col-md-4 col-sm-6 mb-2 items">Help Center</a>
            <a href="#" class="col-12 col-lg-2 col-md-4 col-sm-6 mb-2 items">About Us</a>
          </div>
          <div class="break-line">
            <hr>
          </div>
          <div class="logo-line2">
            <div class="contact col-12 col-lg-3 col-md-5 col-sm-6 mb-3">
              <p>Connect with us</p>
              <div>
                <a href="#" class="socials"><img src="{% static 'image/Vector.svg' %}" alt="twitter"></a>
                <a href="#" class="socials"><img src="{% static 'image/Facebook (icon — Colour).svg' %}" alt="facebook"></a>
                <a href="#" class="socials"><img src="{% static 'image/Instagram (icon — Colour).svg' %}" alt="Instagram"></a>
                <a href="#" class="socials"><img src="{% static 'image/LinkedIn (icon — Colour).svg' %}" alt="LinkedIn"></a>
                <a href="#"><img src="{% static 'image/Vector-1.svg' %}" alt="youtube"></a>
              </div>
            </div>
            <div class="logo-line col-12 col-lg-7 col-md-4 col-sm-4">
              <a href="#" class="items2 mb-2">Terms and Condition</a>
              <a href="#" class="items2 mb-2">Legal Notice</a>
              <a href="#" class="items2 mb-2 col-12 col-lg-3">Privacy Policy</a>
            </div>
            <div>
              <img class="eng" src="{% static 'image/Frame 482.svg' %}" alt="eng">
            </div>
          </div>
      </section>
   </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>