<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css'%}">
    <script defer src="{% static 'accounts/javascript/app.js'%}"></script>
    <title>QrGen59 | Login</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'home:home-page' %}">QrGen<span>59</span></a>
            </div>

        </nav>
    </header>
    <main>
        <div class="wrapper">
            <div class="hero_signin">
                <h1>Hello, Welcome back!</h1>
                <div>
                    <img src="{% static 'accounts/image/signup-img.png' %}" alt="image">
                </div>
            </div>
            <div class="form_wrapper ">
                <form class="form signin_form" method="POST">
                    {% csrf_token %}
                    <label for="email">Email</label>
                    <input class="input" type="email" name="email" id="email" placeholder="name@email.com" required>

                    <label for="pswrd">Password</label>
                    <input class="input" type="password" name="pswrd" id="pass" placeholder="*****" required>

                    <input class="input_submit" type="submit" value="Sign In" class="Send">
                </form>
                <div class="signup_options">
                    <p>Don't have an account?<a href="{% url 'accounts:register-page' %}">Sign Up</a></p>
                </div>
            </div>
    </main>
    <!-- ERORR MESSAGE WHEN USER INFORMATION TO FOUND IN THE DASHBOARD -->
    <!-- When the hide class is dynmically removed, it appears. so when user information not found,
        the hide class should be removed. Check the javascript file for the javascript code 
    -->

    <!-- <section class="alert hide">
        <div class="alert_img">
            <img src="{% static 'accounts/image/Group 7.png' %}" alt="error-icon">
        </div>
        <div class="alert_text">
            <h6>
                Error
            </h6>
            <p>Email and Password Field must not be blank</p>
            <button class="show">back</button>
        </div>
    </section> -->
    <!-- error message for wrong credentials -->
    {% if messages %}
    <!-- {% for message in messages %} -->
    <section class="alert">
        <div class="alert-content">
            <div class="alert_img">
                <img src="{% static 'accounts/image/Group 7.png' %}" alt="error-icon">
            </div>
            <div class="alert_text">
                <h6>
                    Error
                </h6>
                <p>{{message}}</p>
            </div>
        </div>
        <button class="button">Try Again</button>
    </section>
    <!-- {% endfor %} -->
    {% endif %}
</body>

</html>