<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QrGen59 | Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css'%}">
    <script defer src="{% static 'accounts/javascript/app.js'%}"></script>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="{% url 'home:home-page' %}">QrGen<span>59</span></a>
            </div>

        </nav>
    </header>
    <main>
        <div class="wrapper">
            <div class="hero_signin">
                <h1>Generate a QR code in seconds</h1>
                <div>
                    <img src="{% static 'accounts/image/signup-img.png' %}" alt="qrcode">
                </div>
            </div>
            <div class="form_wrapper">
                <form class="form" method="POST">
                    {% csrf_token %}
                    <label for="fname">First name</label>
                    <input class="input" type="text" name="fname" id="fname" placeholder="Ken" required>

                    <label for="lname">Last name</label>
                    <input class="input" type="text" name="lname" id="lname" placeholder="Akand" required>

                    <label for="email">Email</label>
                    <input class="input" type="email" name="email" id="email" placeholder="name@email.com" required>

                    <label for="pswrd">Password
                        <input class="input" type="password" name="pswrd" id="pass" placeholder="*****"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,15}$" required />
                        <ul>
                            <li>At least 1 Uppercase</li>
                            <li>At least 1 Lowercase</li>
                            <li>At least 1 Number</li>
                            <li>Min 8 characters and Max 15 characters</li>

                        </ul>
                    </label>

                    <input class="input_submit" type="submit" value="Sign Up" class="Send">
                </form>
                <div class="signup_options">
                    <p>Already have an account?<a href="{% url 'accounts:login-page' %}">Sign in</a></p>
                </div>
            </div>
            {% if messages %}
            <!-- {% for message in messages %} -->
            <section class="alert">
                <div class="alert-content">
                    <div class="alert_img">
                        <img src="{% static 'accounts/image/Group 7.png' %}" alt="error-icon">
                    </div>
                    <div class="alert_text">
                        <h6>
                            Error
                        </h6>
                        <p>{{message}}</p>
                    </div>
                </div>
                <button class="button">Try Again</button>
            </section>
            <!-- {% endfor %} -->
            {% endif %}
    </main>
</body>

</html>