<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DataStore</title>
    <link rel="stylesheet" href="styles.css" />
    <script defer src="app.js"></script>
  </head>
  <body>
    <header class="header">
      <nav class="navbar">
        <div class="logo">
          <a href="">QrGen<span>59</span></a>
        </div>
        <div class="profile_btns">
          <div class="profile_icon">
            <h1>K</h1>
          </div>
          <div class="profile_links">
            <a href="">My Account</a>
            <a href="">Log out</a>
          </div>
        </div>
      </nav>
    </header>
    <main class="wrapper">
      <div class="side_bar">
        <div class="search_form_div">
          <form action="">
            <input type="text" placeholder="search" />
            <button>
              <img src="./image/icon/search-normal.png" alt="" />
            </button>
          </form>
        </div>
        <div class="navigator_header">
          <h6>QR Codes</h6>
        </div>
        <div class="page_navigator">
          <div class="navigator_options active" id="all">
            <img src="./image/icon/all-icon.png" alt="" />
            <button>All (2)</button>
          </div>
          <div class="navigator_options" id="active">
            <img src="./image/icon/active-icon.png" alt="" />
            <button>Active (2)</button>
          </div>
          <div class="navigator_options" id="archive">
            <img src="./image/icon/archive-icon.png" alt="" />
            <button>Archive (0)</button>
          </div>
        </div>
        <div class="logout_btn">
          <button>
            <img src="./image/icon/log-out-icon.png" alt="" />
            <p>Log out</p>
          </button>
        </div>
      </div>

      <div class="main_content">
        <div class="main_content_header">
          <div class="filter_btn">
            <button>
              <img src="./image/icon/all-icon.png" alt="" />
              <p>All QR codes</p>
            </button>
          </div>
          <div class="create_qr_navigator_btn">
            <a href="">
              <button>Create QR code</button>
            </a>
          </div>
        </div>

        {% block body %} {% endblock body %}
      </div>
    </main>
  </body>
</html>
