{% load static %}

<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>QrGen59 | Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />
  <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">
  <script defer src="{% static 'js/dashbrd.js' %} "></script>
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <div class="logo">
        <a href="{% url 'home:home-page' %}">QrGen<span>59</span></a>
      </div>
      <div class="profile_btns">
        <div class="profile_icon">
          <h1>{{request.user.username|slice:':1'}}</h1>
        </div>
        <div class="profile_links">
          <a href="{% url 'home:home-page' %}">Home</a>
          <a href="{% url 'accounts:logout' %}">Log out</a>
        </div>
      </div>

      </div>
    </nav>
  </header>
  <main class="wrapper">
    <div class="side_bar">
      <div class="search_form_div">
        <form action="">
          <input type="text" class="search" onkeypress="search()" placeholder="search" />
          <button class="search_btn" onclick="search()">
            <img src="{% static 'img/image/icon/search-normal.png' %}" alt="" />
          </button>
        </form>
      </div>
      <!-- <div class="navigator_header">
        <h6>QR Codes</h6>
      </div>
      <div class="page_navigator">
        <div class="navigator_options active" id="all">
          <img src="{% static 'img/image/icon/all-icon.png' %}" alt="" />
          <button onclick="windows.location.reload()">All ({{code_count}})</button>

        </div> -->
      <div class="navigator_header">
        <h6>QR Codes</h6>
      </div>
      <div class="page_navigator">
        <div class="navigator_options active" id="all">
          <img src="{% static 'img/image/icon/all-icon.png' %}" alt="" />
          <button>All ({{code_count}})</button>
        </div>
        <div class="navigator_options" id="active">
          <img src="{% static 'img/image/icon/active-icon.png' %}" alt="" />
          <button>Active ({{active_count}})</button>
        </div>
      </div>
      <div class="logout_btn">
        <a href="{% url 'accounts:logout' %}"><button>
            <img src="{% static 'img/image/icon/log-out-icon.png' %}" alt="" />
            <p>Log out</p>
          </button>
        </a>
      </div>
    </div>
    <div class="main_content">
      <div class="main_content_header">
        <div class="filter_btn">
          <button>
            <img src="{% static 'img/image/icon/all-icon.png' %}" alt="" />
            <p>All QR codes</p>
          </button>
        </div>
        <div class="create_qr_navigator_btn">
          <a href="{% url 'qrgen:generate' %}">
            <button>Create QR code</button>
          </a>
        </div>
      </div>
      <div class="saved_data_wrapper">
        {% if qrcodes %} {% for qrcode in qrcodes %}
        <div class="saved_data">
          <div class="delete_modal">
            <div class="alert_icon">
              <img src="{% static 'image/icon/alert.png' %}" alt="" />
            </div>
            <div class="delete_msg_section">
              <h3>Are you sure?</h3>
              <p>
                Do you really want to delete this record?. This process cannot
                be undone
              </p>
            </div>
            <div class="button_section">
              <a class="cancelx">
                <button>Cancel</button>
              </a>
              <a class="delete" href="{% url 'qrgen:delete_qrcode' qrcode.id %}">
                <button>Delete</button>
              </a>
            </div>
          </div>
          <section class="qr_image">
            <div class="title">
              <h5>
                {{qrcode.title}}
                <span>
                  <img class="edit_icon" src="{% static 'img/image/icon/edit-2.png' %}" alt="" />
                </span>
              </h5>
            </div>
            <img src="{{qrcode.img.url}}" alt="" class="code" />
            <form class="title_form" action="{% url 'qrgen:edit_qrcode' qrcode.id %}" method="POST">
              {% csrf_token %}
              <h5>Enter new title</h5>
              <div>
                <input name="new_title" type="text" />
                <input class="change_btn" type="submit" name="change_title" value="Change" />
              </div>
              <img class="modal_cancel_icon" src="{% static 'img/image/icon/basic-cancel-icon.png' %}" alt="" />
            </form>
          </section>
          <div class="des_share_del">
            <form class="edit_form" action="{% url 'qrgen:edit_qrcode' qrcode.id %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <h5>Enter new Qrcode content</h5>
              <div>
                {% if qrcode.action_type in upload_types %}
                <input type="file" name="new_file" required>
                {% else %}
                <input name="new_content" type="url" required>
                {% endif %}
                <input class="change_btn_x" type="submit" name="change_content" value="Change" />
              </div>
              <img class="content_modal_cancel" src="{% static 'img/image/icon/basic-cancel-icon.png' %}" alt="" />
            </form>
            <div class="qr_des">
              {% if qrcode.is_dynamic %}
              <div class="scan">
                <h5>Scan ({{ qrcode.scan_count }})</h5>
              </div>
              {% endif %}
              <div class="date">
                <img src="{% static 'img/image/icon/clock-icon.png' %}" alt="" />
                <p>{{ qrcode.date_gen }}</p>
              </div>
              <div class="link">
                <img src="{% static 'img/image/icon/link-icon.png' %}" alt="" />
                <p>{{qrcode.type}}</p>
              </div>
                {% if qrcode.action_type in upload_types %}
                <div class="link">
                  <img src="{% static 'img/image/icon/file-icon.png' %}" alt="" />
                <p>{{qrcode.file}}</p>
              </div>
                {% endif %}
              {% if qrcode.is_dynamic %}
              <button class="content_edit_btn">Edit</button>
              {% endif %}
            </div>
            <div class="qr_share_del">
              <div class="qr_download">
                <button class="download_btn">Download</button>
                <div class="download_options">
                  {% for id, option in download_options.items %}
                  <a href="{% url 'qrgen:download_qrcode' qrcode.id option %}"><button class="download_btn"
                      id="btn_{{option}}">
                      <img src="{% static 'image/icon/download-button-icon.png' %}" alt="" />
                      <p>Download {{option}}</p>
                    </button></a>

                  {% endfor %}
                  <img class="cancel" src="{% static 'img/image/icon/basic-cancel-icon.png' %}" alt="" />
                </div>
              </div>
              <div class="share_del">
                <button class="share">
                  <img src="{% static 'img/image/icon/send-icon.png' %}" alt="" />
                  <p>Share</p>
                </button>
                <button class="delete_icon">
                  <img src="{% static 'image/icon/delete-icon.png' %}" alt="" />
                  <p>Delete</p>
                </button>
                <div class="share-notification">
                  <h1>feature may not work on some devices</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="main_content_blank">
          <div class="data_blank">
            <section class="qr_image">
              <img src="{% static 'image/qr-code-blur.png' %}" alt="" />
            </section>
            <p>Generate a QR code, download, scan and share</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </main>
</body>

</html>