{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/generation.css' %}">
    <script defer src="{% static 'js/gen.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'favicon.png' %}" type="image/x-icon">

    <title>QrGen59 | Generate</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <div class="logo">
                <a href="">QrGen<span>59</span></a>
            </div>
            <div class="profile_btns">
                <div class="profile_icon">
                    <h1>{{request.user.username|slice:':1'}}</h1>
                </div>

                <!-- Profile links  NEW-->
                <div class="profile_links">
                    <a href="{% url 'qrgen:dashboard' %}">Dashboard</a>
                    <a href="{% url 'accounts:logout' %}">Log out</a>
                </div>
            </div>
        </nav>
        <!-- Button to go back to main dashboard  NEW-->
        <a href="{% url 'qrgen:dashboard' %}" style="text-decoration: none;">
            <button class="back-button">
                <img src="{% static 'img/icons/back-arrow-icon.png' %}" alt="">
                <p>Back</p>
            </button>
        </a>
    </header>
    <main class="wrapper">

        <div class="progress_bar">
            <div class="progress_details">
                <div class="progress_circle ">
                    <h6>1</h6>
                    <span class="line"></span>
                </div>
                <div class="progress_label ">
                    <p>Choose Type</p>
                </div>
            </div>
            <div class="progress_details">
                <div class="progress_circle">
                    <h6>2</h6>
                    <span class="line"></span>
                </div>
                <div class="progress_label">
                    <p>Code Content</p>
                </div>
            </div>
            <div class="progress_details">
                <div class="progress_circle">
                    <h6>3</h6>
                </div>
                <div class="progress_label">
                    <p>View QR code</p>
                </div>
            </div>
        </div>
        <div class="dashboard_details">
            <div class="dashboard_content_wrapper">
                <div class="dashboard_options">
                    <div class="dashboard_preview_header">
                        <div class="dashboard_header">
                            <h4>Choose your QR code type</h4>
                        </div>
                    </div>
                    <div class="dasboard_subheader">
                        <h5 class="static active">Static</h5>
                        <h5 class="dynamic">Dynamic</h5>
                    </div>
                    <div class="options">
                        <div class="single_option url_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/link-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/link-icon-hover.png' %}" alt="icon">
                                <h6>Website URL</h6>
                            </div>
                            <p>Link to any website URL</p>
                        </div>
                        <div class="single_option text_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/text-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/text-icon-hover.png' %}" alt="icon">
                                <h6>Text</h6>
                            </div>
                            <p>Display a short message</p>
                        </div>
                        <div class="single_option whatsapp_option">
                            <div class="option_header ">
                                <img src="{% static 'img/icons/whatsapp-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/whatsapp-icon-hover.png' %}" alt="icon">
                                <h6>Whatsapp</h6>
                            </div>
                            <p>Get more contacts on whatsapp</p>
                        </div>
                        <div class="single_option email_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/email.png' %}" alt="icon">
                                <img src="{% static 'img/icons/email-icon-hover.png' %}" alt="icon">
                                <h6>Email</h6>
                            </div>
                            <p>Get email messages</p>
                        </div>
                        <div class="single_option event_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/event-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/event-icon-hover.png' %}" alt="icon">
                                <h6>Event</h6>
                            </div>
                            <p>Promote any event</p>
                        </div>
                        <div class="single_option pdf_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/pdf-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/pdf-icon-hover.png' %}" alt="icon">
                                <h6>PDF</h6>
                            </div>
                            <p>Share PDF document</p>
                        </div>
                        <div class="single_option images_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/image-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/image-icon-hover.png' %}" alt="icon">

                                <h6>Images</h6>
                            </div>
                            <p>Share multiple photos</p>
                        </div>
                        <div class="single_option business_option">
                            <div class="option_header">
                                <img src="{% static 'img/icons/business-icon.png' %}" alt="icon">
                                <img src="{% static 'img/icons/business-icon-hover.png' %}" alt="icon">

                                <h6>Business Card</h6>
                            </div>
                            <p>Share your contact details</p>
                        </div>
                    </div>
                </div>
                <div class="dashboard_options code_content">
                    <div class="url_content">
                        <h6>Website URL</h6>
                        <p class="big_para">Submit URL for your QR code</p>
                        <form method='POST' action="{% url 'qrgen:generate' %}">
                            {% csrf_token %}
                            <input type="url" name="url" id="website" placeholder="https://" value="https://" required>
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="web" hidden>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'url')">
                        </form>
                        <p>Your QR code will open this URL</p>
                    </div>
                    <div class="business_content">
                        <h6>Business Card</h6>
                        <p class="big_para">Submit URL for your QR code</p>
                        <form method='POST' action="{% url 'qrgen:generate' %}">
                            {% csrf_token %}
                            <input type="file" name="upload_file" id="bizfile" hidden>
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="biz" hidden>
                            <input class="placeholder" type="text" disabled placeholder="PNG or JPEG format.">
                            <button id="bizbtn">Upload</button>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'upload')">
                        </form>
                        <p>Your QR code will open this URL</p>
                    </div>
                    
            <div class="text_content">
                        <h6>Text</h6>
                        <p class="big_para">Type any text below</p>
                        <form method='POST' action="{% url 'qrgen:generate' %}">
                            <input type="text" name="url" id="text"
                                placeholder="Enter some text......(not more than 300 characters)" required>
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="tex" hidden>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'url')">
                        </form>
                        <p>Your QR code will display this text.</p>
                    </div>
                    <div class="whatsapp_content">
                        <h6>Whatsapp</h6>
                        <p class="big_para">Input your WhatsApp link.</p>
                        <form method='POST' action="{% url 'qrgen:generate' %}">
                            <input type="url" name="url" id="number"
                                placeholder="Enter your WhatsApp link in this format https://wa.me/" required>
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="wap" hidden>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'url')">
                        </form>
                        <p>Your QR code will open up a chat on whatsapp.</p>
                    </div>
                    <div class="email_content">
                        <h6>Email</h6>
                        <p class="big_para">Submit email for your QR code</p>
                        <form method='POST' action="{% url 'qrgen:generate' %}">
                            <input type="email" name="url" id="email" required>
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="eml" hidden>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'url')">
                        </form>
                        <p>Your QR code will open this URL</p>
                    </div>
                    <div class="pdf_content">
                        <h6>PDF</h6>
                        <p class="big_para">Select any PDF from your files</p>
                        <form action="{% url 'qrgen:generate' %}" method='POST' enctype="multipart/form-data">
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="pdf" hidden>
                            <input type="file" name="upload_file" id="pdffile" hidden>
                            <input class="placeholder" type="text" disabled placeholder="Upload a PDF (not more than 10MB)">
                            <a id="pdfbtn">Upload</a>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'upload')">
                        </form>
                        <p>Your QR code will open this PDF.</p>
                    </div>
                    <div class="image_content">
                        <h6>Images</h6>
                        <p class="big_para">Upload images here</p>
                        <form action="{% url 'qrgen:generate' %}" method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="img" hidden>
                            <input type="file" name="upload_file" id="imgfile" hidden>
                            <input class="placeholder" type="text" disabled placeholder="PNG or JPEG format.">
                            <button id="imgbtn">Upload</button>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'upload')">
                        </form>
                        <p>Your QR code will open these images.</p>
                    </div>
                    <div class="event_content">
                        <h6>Event URL</h6>
                        <p class="big_para">Submit URL for your QR code</p>
                        <form action="{% url 'qrgen:generate' %}" method='POST' enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="url" name="url" id="event" placeholder="Link to an event" required>
                            <input class="input" type="text" name="qrcode_type" value="static" hidden>
                            <input type="text" name="action_type" value="wap" hidden>
                            <input class="generate_button" type="submit" value="Generate Qr code" name="generate"
                                onclick="submit_form(this.form, 'url')">
                        </form>
                        <p>Your QR code will open this URL</p>
                    </div>
                </div>
                <div class="dashboard_options download_share">
                    <div class="buttons">
                        <a href="{% url 'qrgen:dashboard' %}">
                            <button>
                                <!-- <img src="{% static 'img/icons/share-icon.png' %}" alt=""> -->
                                <p>Go to Dashboard</p>
                            </button>
                        </a>
                        <button class="share_btn">
                            <img src="{% static 'img/icons/share-icon.png' %}" alt="">
                            <p>Share</p>
                        </button>
                        <!-- Share notification  NEW-->
                        <div class="share_notification">
                            <h1>feature may not work on some devices</h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="qrcode_section">
                <div class="qrcode_box">
                    <div class="option_preview">
                        <h5 class="text">Please select one & your
                            preview will show here
                        </h5>
                    </div>
                    <!-- WHERE THE CODE WILL BE GENERATED -->
                    <div class="generated_code hide">
                        <!-- THE ACHOR TAG WILL TRIGGER THE CODE GENERATION -->
                        <a>Preview</a>
                        <!-- CODE GENERATED WILL BE CONTAINED IN THIS IMAGE -->
                        <img src="" alt="Qr Code" id="generated_qrcode" hidden>
                        <p>Scanning the QR code will
                            redirect you to the website.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard_footer hide">
            <div class="dashboard_footer_btn hide">
                <button class="back hide">
                    <img src="{% static 'img/icons/arrow-left.png' %}" alt="">
                    <p>Previous</p>
                </button>
                <button class="continue">
                    <p id="next">Next</p>
                    <img src="{% static 'img/icons/arrow-right.png' %}" alt="">
                </button>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% comment %} Ajax Script {% endcomment %}
    
    <script type="text/javascript">

        // CSRF token setup for Ajax request
        $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()
                }
            })
        });

        function submit_form(form, type) {
            form.addEventListener('submit', function (e) {
                e.preventDefault()

                var data = new FormData();
                // console.log(data);

                data.append('action_type', form.action_type.value);
                data.append('qrcode_type', form.qrcode_type.value);
                data.append('generate', form.generate.value);

                if (type == "upload") {
                    data.append('upload_file', form.upload_file.files[0]);
                    
                }
                if (type == "url") {
                    data.append('url', form.url.value);
                }

                // making the ajax call
                $.ajax({
                    type: "POST",
                    processData: false,
                    contentType: false,
                    url: "{% url 'qrgen:generate' %}",
                    mimeType: "multipart/form-data",
                    data: data,

                    success: function (response) {

                        // change the submit button value and disable it
                        form.generate.value = 'QRCode Generated, please proceed!';
                        form.generate.setAttribute("disabled", "");


                        // get the image of the created qrcode
                        var result = JSON.parse(response);

                        // update the qrcode image
                        document.getElementById('generated_qrcode').removeAttribute("hidden");
                        document.getElementById('generated_qrcode').setAttribute("src", result['qrcode_img']);
                    }
                })

            })
        }


    </script>
</body>

</html>