@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;500;600;700;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0%;
	font-size: 14px;
	font-weight: 700;
	/* background: #fafaff; */
	/* width: fit-content;
    block-size: fit-content */
}

a {
	text-decoration: none;
}
button {
	cursor: pointer;
}
input[type="submit"] {
	cursor: pointer;
}

body {
	width: 100%;
	padding-left: 5rem;
	padding-top: 1.5rem;
	padding-right: 5rem;
	font-family: "Lato", sans-serif;
	color: #557f9d;
	overflow-x: hidden;
	background: #fafaff;
}
.header {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin: 0rem 0rem 2.5rem 0rem;
}
/* .navbar .logo{
    margin-right: 5.25rem;
} */
.logo a,
.logo a span {
	font-size: 4rem;
	font-family: "Dongle", sans-serif;
	text-decoration: none;
	font-weight: 700;
}

.logo a {
	color: #003459;
}
.logo a span {
	color: #ff6835;
}
.header_links {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	/* margin-right: 15.25rem; */
}
.header_links a {
	font-size: 1.75rem;
	text-decoration: none;
}
.profile_btns {
	position: relative;
	float: right;
}
.profile_btns .profile_icon {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 3.25rem;
	width: 3.25rem;
	border-radius: 50%;
	background: #d5592c;
	cursor: pointer;
}
.profile_btns .profile_links {
	position: absolute;
	top: -500%;
	left: -65px;
	width: 12rem;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1.5rem;
	padding: 2rem 1rem;
	z-index: 1;
	transition: all 1s ease;
}
.profile_btns .profile_links.show {
	top: 100%;
}
.profile_btns .profile_links a {
	font-size: 1.25rem;
	color: #003f6c;
	text-decoration: none;
}
.profile_btns div h1 {
	font-size: 1.75rem;
	text-align: center;
	text-transform: uppercase;
	/* padding-bottom: 1rem; */
	color: white;
}
.back-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	background: transparent;
	cursor: pointer;
	opacity: 1;
}
.back-button p {
	font-size: 1.5rem;
	color: #5a5a5c;
}
.back-button.hide {
	opacity: 0;
}
/* .login_btns button{
    font-family: 'Lato', sans-serif;
    font-size: 1.75rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: 0.125rem solid #838385;
    border-radius: 0.75rem;
    color: #838385;
    font-weight: 700;

}
.login_btns .get_started{
    background: #838385;
    color: white;
} */
/* .wrapper{
    width: 76.25rem;
} */
.progress_bar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 50px;
}
.line {
	position: absolute;
	left: 140%;
	top: 50%;
	width: 70%; /*or whatever width you want the effect of <hr>*/
	border-top: 1px solid #557f9d;
}
.line.active {
	border-top: 1px solid #d5592c;
}
.progress_circle {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 3.25rem;
	width: 3.25rem;
	padding: 0 1rem;
	color: #003f6c;
	border-radius: 50%;
	background: #fafaff;
	border: 3px solid #003f6c;
}
.progress_details.active .progress_label p {
	color: #d5592c;
}
.progress_details.active .progress_circle {
	border: 3px solid #d5592c;
	color: #d5592c;
}

.progress_circle h6 {
	font-size: 1.5rem;
}
.progress_details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* margin-right: 20px; */
	/* width: 10%; */
	/* position: relative; */
}
.progress_label {
	position: absolute;
	top: 17.5rem;
}
.progress_label p {
	font-size: 0.75rem;
	text-align: center;
	color: #acacad;
	/* padding-right: 2rem;     */
}
.progress_label.active p {
	color: #838385;
}
.dashboard_preview_header {
	display: flex;
	flex-direction: row;
	gap: 15rem;
	/* justify-content: space-between; */
	margin-top: 1.125rem;
	opacity: 1;
}
.dashboard_preview_header.hide {
	opacity: 0;
}
.dashboard_details {
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-top: 1.125em;
	margin-bottom: 3em;
}
.dashboard_details.downloadslide {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
}
.dashboard_details.downloadslide .dashboard_content_wrapper {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
}
.dashboard_details.downloadslide .qrcode_section {
	position: relative;
	width: 60%;
	height: 30.76em;
	margin-top: 2rem;
	margin-bottom: 4.125rem;
	margin-left: auto;
	margin-right: auto;
	min-height: 30.76rem;
}
.dashboard_details.downloadslide .generated_code a {
	display: none;
}
.dashboard_content_wrapper {
	width: 65%;
}

/* OPTION SLIDE I=1 */
.dashboard_options {
	display: none;
}
.dashboard_options.show {
	display: block;
}
.dashboard_header {
	margin-bottom: 2.875rem;
}
.dashboard_header h4 {
	color: #003f6c;
	font-size: 2rem;
	font-weight: 800;
	line-height: 2.4rem;
}
.dasboard_subheader {
	display: flex;
	flex-direction: row;
	gap: 6rem;
	margin-bottom: 2.06rem;
}
.dasboard_subheader h5 {
	cursor: pointer;
	font-size: 1.75rem;
	font-weight: 700;
}
.dasboard_subheader .active {
	color: #003f6c;
}
.options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 10%;
}
.single_option {
	color: #003f6c;
	width: 45%;
	padding: 0.75rem;
	margin-top: 2rem;
	background: none;
	border: 2px solid#838384;
}
.single_option:hover {
	cursor: pointer;
}
.single_option .option_header img:nth-child(2) {
	display: none;
}
.single_option:hover .option_header img:nth-child(2) {
	display: block;
}
.single_option:hover .option_header img:nth-child(1) {
	display: none;
}
.single_option p {
	font-weight: 400;
	margin-top: 0.3rem;
	font-size: 1.25rem;
}
.option_header {
	display: flex;
	flex-direction: row;
	gap: 0.3rem;
}
.option_header img {
	height: 1.5rem;
	width: 1.5rem;
}

.option_header h6 {
	font-weight: 700;
	font-size: 1.5rem;
}

.qrcode_section {
	position: relative;
	width: 35%;
	height: 30.76em;
	margin-top: 9rem;
	margin-left: 6.06rem;
	min-height: 30.76rem;
}
.option_preview {
	width: 100%;
	/* padding-right: 5rem; */
}
.option_preview.hide {
	display: none;
}
.option_preview .text {
	margin-top: -170px;
	color: #003f6c;
	font-size: 1.5rem;
	font-weight: 700;
}
.preview_label.hide {
	display: none;
}
.preview_label {
	position: absolute;
	top: -30px;
}
.qrcode_box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem 4.63rem;
	height: 100%;
	background: #fafaff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 1rem;
}

/* CODE CONTENT I=2*/
.code_content {
	margin-top: 9rem;
	padding: 3rem 2rem;
	background: #fafaff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	height: 25rem;
}

.code_content h6 {
	font-weight: 900;
	font-size: 1.5rem;
	line-height: 1.8rem;
	color: #003f6c;
	margin-bottom: 2.75rem;
}
.code_content .big_para {
	font-size: 1.25rem;
	line-height: 1.875rem;
}
/* .code_content input{
    width: 100%;
    height: 5rem;
    border-radius: 15px;
    background: transparent;
    border: 1px solid #557F9D;
    margin: 1.5rem 0;
} */
.code_content input {
	width: 100%;
	background: transparent;
	border: none;
	outline: none;

	/* margin: 1.5rem 0; */
}
.code_content p {
	font-size: 1rem;
}
form {
	position: relative;
	display: flex;
	flex-direction: row;
	margin-top: 1.5rem;
	margin-bottom: 7.5rem;
	padding-left: 1rem;
	height: 4rem;
	border: 1px solid #557f9d;
	border-radius: 1rem;
}

button,
form a {
	/* Just a little styling to make it pretty */
	display: flex;
	flex-direction: row;
	align-items: center;
	border: none;
	background: #003f6c;
	color: white;
	margin-right: 10px;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
	text-decoration: none;
	text-align: center;
}
form .generate_button {
	position: absolute;
	top: 70px;
	left: 0;
	width: 100%;
	padding: 1rem 2rem;
	background: #003459;
	color: white;
	font-size: 1.2rem;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
}
.dashboard_options.code_content div {
	display: none;
}
.dashboard_options .url_content.show {
	display: block;
}
.dashboard_options .whatsapp_content.show {
	display: block;
}
.dashboard_options .email_content.show {
	display: block;
}
.dashboard_options .business_content.show {
	display: block;
}
.dashboard_options .text_content.show {
	display: block;
}
.dashboard_options .pdf_content.show {
	display: block;
}
.dashboard_options .image_content.show {
	display: block;
}
.dashboard_options .event_content.show {
	display: block;
}
.generated_code {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}
.generated_code.hide {
	display: none;
}
.generated_code a {
	color: #003f6c;
	font-size: 1.5rem;
	font-weight: 700;
	text-decoration: underline;
}
.generated_code img {
	height: 11.75rem;
	width: 11.75rem;
}
.generated_code p {
	width: 9.5rem;
	font-size: 0.75rem;
	text-align: center;
}

/* DOWNLOAD_SHARE */
.download_share {
	font-size: 100px;
	text-align: center;
}
.dash_btn {
	width: 40%;
	margin: 2rem auto;
}
.buttons {
	position: relative;
	display: flex;
	flex-direction: row;
	gap: 6.25rem;
}
.buttons .share_notification {
	position: absolute;
	width: 12rem;
	top: 50px;
	right: 10px;
	text-align: center;
	padding: 1rem 2rem;
	box-shadow: 0px 2.98829px 2.98829px rgba(0, 0, 0, 0.25);
	opacity: 0;
	transition: all 0.5s ease;

	/* background: antiquewhite; */
}
.buttons .share_notification h1 {
	font-size: 1rem;
}
.download_options {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 2rem 3.5rem;
	gap: 3rem;
	background: white;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #003459;
	z-index: 2;
	font-size: 1rem;
	bottom: 20%;
	opacity: 0;
	transition: all 1s ease;
}
.download_options.show {
	opacity: 1;
	bottom: 200%;
}
.download_options .cancel {
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}
.buttons .download_options button img {
	height: 1rem;
}
.buttons .download_options button p {
	font-size: 1rem;
}
.buttons button {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	cursor: pointer;
	z-index: 3;
}
.buttons button p {
	font-size: 1.2rem;
}
.buttons .share_btn {
	border: 2px solid #003f6c;
	background: white;
	color: #003f6c;
	margin-right: 10px;
	padding: 1rem 2rem;
	border-radius: 0.5rem;
}

.dashboard_footer {
	width: 100%;
	padding: 0.5rem 1rem;
	opacity: 1;
}
.dashboard_footer.hide {
	padding: 3rem 2.14rem;
	background: none;
	/* opacity: 0; */
}
.dashboard_footer_btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.dashboard_footer_btn.hide {
	display: none;
}
.dashboard_footer_btn button {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "Lato", sans-serif;
	border: none;
	cursor: pointer;
}
.dashboard_footer_btn button p {
	font-size: 1.5rem;
}
.dashboard_footer_btn .back {
	/* padding: 1.07rem 2.14rem; */
	opacity: 1;
	background: transparent;
	color: #003f6c;
}
.dashboard_footer_btn .back.hide {
	opacity: 0;
}
.dashboard_footer_btn .continue {
	opacity: 1;
	/* padding: 1.07rem 2.14rem; */
	background: #003f6c;
	border-radius: 8px;
	color: white;
	font-size: 5rem;
}
.dashboard_footer_btn .continue.hide {
	display: none;
	opacity: 0;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	* {
		font-size: 12px;
	}
	.qrcode_box {
		padding: 2rem;
	}
	.qrcode_section {
		margin-top: 11rem;
	}
	.code_content {
		margin-top: 11rem;
	}
	.line {
		left: 150%;
	}
}

@media only screen and (min-width: 500px) and (max-width: 767px) {
	* {
		font-size: 10px;
	}
	.dashboard_details {
		display: flex;
		flex-direction: column;
	}
	.dashboard_content_wrapper {
		width: 100%;
	}
	.qrcode_section {
		position: relative;
		width: 100%;
		margin-left: 0;
		height: 30.76rem;
	}
	.qrcode_box {
		width: 100%;
	}
	.dashboard_preview_header {
		width: 100%;
	}
	.line {
		left: 150%;
		width: 80%;
	}
}
@media only screen and (min-width: 300px) and (max-width: 499px) {
	* {
		font-size: 10px;
	}
	.dashboard_details {
		display: flex;
		flex-direction: column;
	}
	.dashboard_content_wrapper {
		width: 100%;
	}
	.qrcode_section {
		position: relative;
		width: 100%;
		margin-left: 0;
		height: 30.76rem;
	}
	.qrcode_box {
		width: 100%;
	}
	.dashboard_preview_header {
		width: 100%;
	}
	.line {
		left: 150%;
		width: 80%;
	}
	.options {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		gap: 10%;
	}
	.single_option {
		width: 100%;
	}
}
